.actions-footer {
  position: fixed;
  margin: 1rem;
}

.busy-indicator {
  text-align: center;
  margin-top: 8rem;
}

.footer-buttons-gap {
  gap: 0.5rem;
}

#message-popover {
  --sapButton_TextColor: var(--sapButton_Negative_TextColor);
  --sapButton_BorderColor: var(--sapButton_Negative_Background);
  --sapButton_Background: var(--sapButton_Negative_BorderColor);
}
