<ng-container [formGroup]="form">
  <ng-container [formGroupName]="formGroupName">
    <div
      class="bottom-margin"
      [ngClass]="formItem.guiOptions?.additionalData?.doubleTopMargin ? 'double-top-margin' : ''">
      <h2 class="header" [ngClass]="formItem.guiOptions?.additionalData?.ignoreTopMargin ? '' : 'top-margin'">
        {{ formItem.guiOptions?.additionalData?.header }}
      </h2>
      <p *ngIf="subheader" class="subheader" [innerHTML]="subheader | async"></p>
    </div>
  </ng-container>
</ng-container>
