<ng-container [formGroup]="form">
  <ng-container [formGroupName]="formGroupName">
    <div
      [ngClass]="{
        'double-top-margin': formItem.guiOptions?.additionalData?.doubleTopMargin,
        'bottom-margin': !formItem.guiOptions?.additionalData?.ignoreBottomMargin,
      }">
      <h2 class="header" [ngClass]="formItem.guiOptions?.additionalData?.ignoreTopMargin ? '' : 'top-margin'">
        {{ formItem.guiOptions?.additionalData?.header }}
        <button
          fd-button
          *ngIf="formItem.guiOptions?.additionalData?.buttonText !== undefined"
          [label]="formItem.guiOptions?.additionalData?.buttonText"
          fdType="transparent"
          (click)="formItem.guiOptions?.additionalData?.buttonAction()"></button>
      </h2>
      <p
        *ngIf="subheader"
        class="subheader"
        [innerHTML]="subheader | async"
        [style]="formItem.guiOptions?.additionalData?.subheaderStyle"></p>
    </div>
  </ng-container>
</ng-container>
