@dxp:registry=https://common.repositories.cloud.sap/artifactory/api/npm/deploy-releases-hyperspace-npm
//common.repositories.cloud.sap/artifactory/api/npm/:_authToken=${BUILD_SECRETS_ARTIFACTORYTOKEN}
//common.repositories.cloud.sap/artifactory/api/npm/:always-auth=true
registry=https://registry.npmjs.org
engine-strict=true
resolution-mode=highest