@dxp:registry=https://int.repositories.cloud.sap/artifactory/api/npm/proxy-deploy-releases-hyperspace-npm
# //common.repositories.cloud.sap/artifactory/api/npm/deploy-releases-hyperspace-npm:_authToken=${PIPER_VAULTCREDENTIAL_REFERENCE_TOKEN}

registry=https://registry.npmjs.org
engine-strict=true
