<div *ngIf="!loading()">
  <!-- Display errors -->
  <div class="setup-osc-margin" *ngIf="errorMessage()">
    <app-error-message
      title="OSC setup could not be completed"
      [message]="errorMessage()"
      (byDismiss)="dismissErrorMessage()"
      *ngIf="errorMessage()"></app-error-message>
  </div>
  <!-- Prerequisites info step -->
  <div class="setup-osc-margin osc-prerequisites" *ngIf="isPrerequisitesInfoStep()">
    <figure class="prerequisites-svg" fd-illustrated-message type="spot" [svgConfig]="prerequisitesStepIconConfig">
      <figcaption fd-illustrated-message-figcaption id="spot-description">
        <h3 fd-illustrated-message-title>Have a build pipeline?</h3>
        <p fd-illustrated-message-text>
          To add Open Source Checks, you need a build pipeline.
          <br />
          Set up one first if you don’t have one.
        </p>
      </figcaption>
      <fd-illustrated-message-actions>
        <button
          fd-button
          label="Set Up Build"
          (click)="openSetupBuildModal()"
          data-testid="setupBuildModalButton"></button>
      </fd-illustrated-message-actions>
    </figure>
    <div class="prerequisites-subtext">
      <fd-text text="Own build pipeline? " [whitespaces]="true"></fd-text>
      <a
        fd-link
        href="https://pages.github.tools.sap/hyperspace/academy/services/osc/prerequisites/"
        target="_blank"
        rel="noopener noreferrer"
        data-testid="checkThePrerequisitesLink">
        Check the pre-requisites
      </a>
    </div>
  </div>
  <!-- Prerequisites Setup step -->
  <div class="setup-osc-margin" *ngIf="isPrerequisitesSetupStep()">
    <form [formGroup]="setupPrerequisitesFormGroup">
      <div class="validation-xmake-content with-bottom-margin" *ngIf="!isBuildPipelineSetup()">
        <div class="headline-flex-box">
          <div class="headline margin-bottom-zero">Are you using xMake?</div>
          <fd-icon
            class="left-margin icon"
            glyph="hint"
            placement="bottom"
            [fd-inline-help]="xMakeHelp"
            [triggers]="['click']"
            [closeOnOutsideClick]="true"></fd-icon>
        </div>
        <fd-message-strip
          type="error"
          *ngIf="isXmakeSelected()"
          class="validation-message with-bottom-margin"
          data-testid="xMakeNotSupportedPrompt">
          xMake is not supported by the Open-Source Compliance Service
        </fd-message-strip>
        <fd-message-strip
          type="warning"
          *ngIf="
            isLanguageUnsupported() && !setupPrerequisitesFormGroup.controls.xMakeOption.invalid && !isXmakeSelected()
          "
          class="validation-message with-bottom-margin"
          data-testid="languageNotSupportedPrompt">
          You will not be compliant due to the language you have selected
        </fd-message-strip>
        <div *ngFor="let choice of prerequisitesXmakeChoices()" [attr.data-testid]="'xMakeButton' + choice">
          <fd-radio-button
            [name]="choice"
            [formControl]="setupPrerequisitesFormGroup.controls.xMakeOption"
            [selectedValue]="setupPrerequisitesFormGroup.controls.xMakeOption.value"
            [value]="choice">
            {{ choice }}
          </fd-radio-button>
        </div>
      </div>
      <div class="validation-language-content">
        <div class="headline">Select your programming language</div>
        <fd-select
          [formControl]="setupPrerequisitesFormGroup.controls.languageSelection"
          class="select-box with-bottom-margin"
          data-testid="selectedLanguage">
          <li
            fd-option
            *ngFor="let language of prerequisitesAvailableLanguages()"
            [value]="language"
            [attr.data-testid]="'selectLanguage' + language.displayName">
            <span *ngIf="prerequisitesRecommendedLanguage().id === language.id">
              {{ language.displayName }} (found in your repository)
            </span>
            <span *ngIf="prerequisitesRecommendedLanguage().id !== language.id">{{ language.displayName }}</span>
          </li>
        </fd-select>
      </div>
      <div class="message-prompt-container" *ngIf="isXmakeSelected() || isLanguageUnsupported()">
        <img src="./assets/tent.svg" alt="Cards with a question mark" />
        <figure fd-illustrated-message [noSvg]="true" type="spot">
          <figcaption *ngIf="isXmakeSelected()" fd-illustrated-message-figcaption id="spot-description">
            <h3 fd-illustrated-message-title>xMake is not supported</h3>
            <p fd-illustrated-message-text>If you need Open Source Checks, you need to add BlackDuck manually.</p>
          </figcaption>
          <figcaption
            *ngIf="isLanguageUnsupported() && !isXmakeSelected()"
            fd-illustrated-message-figcaption
            id="spot-description">
            <h3 fd-illustrated-message-title>
              {{ this.setupPrerequisitesFormGroup.controls.languageSelection.value.displayName }} is not yet supported.
            </h3>
            <p fd-illustrated-message-text>
              However, you can set up the Open-Source Compliance Service to try it out. You will not be compliant.
              <br />
              <br />
              To release this component to customers, you need to add BlackDuck manually.
            </p>
          </figcaption>
          <fd-illustrated-message-actions>
            <button data-testid="blackDuckButton" fd-button label="Add BlackDuck" (click)="openBlackDuck()"></button>
          </fd-illustrated-message-actions>
        </figure>
      </div>
    </form>
  </div>
  <!-- OSC platform form step -->
  <div class="setup-osc-margin" *ngIf="isOscPlatformFormStep()">
    <div *ngIf="oscExtensionClass.name" class="extension-info-container">
      <div class="extension-info">
        <fd-avatar
          size="xs"
          image="{{ getIcon() }}"
          [label]="oscExtensionClass.displayName"
          [colorAccent]="10"></fd-avatar>
        <span class="extension-name">
          {{ oscExtensionClass.displayName }}
        </span>
      </div>
      <fd-icon
        class="extension-info-icon"
        glyph="hint"
        placement="top"
        color="information"
        [fd-inline-help]="extensionInfoPopover"
        [triggers]="['click']"
        [closeOnOutsideClick]="true"></fd-icon>
      <ng-template #extensionInfoPopover>
        <div>
          Replaces Mend and BlackDuck.
          <br />
          <a
            class="link"
            href="https://pages.github.tools.sap/hyperspace/cicd-setup-documentation/use-cases/validate-your-code-OSCS"
            rel="noopener noreferrer"
            target="_blank"
            rel="noopener noreferrer">
            Learn more
          </a>
        </div>
      </ng-template>
    </div>
    <div>
      <fdp-message-popover-form-wrapper
        #formGeneratorWrapper
        [forms]="formGenerator?.formGroup"
        [formFields]="formGenerator?.formFields">
        <fdp-form-generator
          #formGenerator
          *ngIf="!loading()"
          [formItems]="questions"
          (formSubmitted)="onFormSubmitted($event)"
          (formCreated)="onFormCreated()"></fdp-form-generator>
      </fdp-message-popover-form-wrapper>
    </div>
  </div>
  <div fd-bar barDesign="footer" class="actions-footer">
    <div fd-bar-right class="footer-buttons-gap">
      <!-- "Continue" button, rendered on prerequisites info step -->
      <button
        fd-button
        *ngIf="isPrerequisitesInfoStep()"
        (click)="moveToOscPrerequisitesSetupStep()"
        [disabled]="loading()"
        type="submit"
        fdType="emphasized"
        data-testid="continueToPrerequisitesSetupButton"
        label="Continue"></button>
      <!-- "Continue" button, rendered on prerequisites setup step -->
      <button
        fd-button
        *ngIf="isPrerequisitesSetupStep() && !isXmakeSelected()"
        (click)="submitPrerequisitesForm()"
        [disabled]="setupPrerequisitesFormGroup.invalid"
        type="submit"
        fdType="emphasized"
        data-testid="continueToOscSetupButton"
        label="Continue"></button>
      <!-- "Submit" button, rendered on osc platform form step -->
      <button
        fd-button
        *ngIf="formCreated && isOscPlatformFormStep()"
        (click)="submitForm()"
        [disabled]="loading() || isSubmitButtonDisabled()"
        type="submit"
        fdType="emphasized"
        data-testid="submitOscButton"
        label="Add"></button>
      <button
        fd-button
        fdType="transparent"
        data-testid="CancelOSCSetupButton"
        [disabled]="loading()"
        (click)="cancel()">
        {{ isPrerequisitesSetupStep() && isXmakeSelected() ? 'Close' : 'Cancel' }}
      </button>
    </div>
  </div>
</div>
<div class="busy-indicator" *ngIf="loading()">
  <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
</div>
<ng-template #xMakeHelp>
  <div>
    <a
      href="https://pages.github.tools.sap/hyperspace/academy/tools/decisionhelp/BuildTool/?h=#option-a-xmake"
      target="_blank"
      rel="noopener noreferrer">
      xMake
    </a>
    is a central build service,
    <br />
    still in use by multiple established projects.
  </div>
</ng-template>
