@import '../base-service-details.component.css';

.heading-margin-h4 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.p-tag-bottom-margin {
  margin-bottom: 0.5rem;
}

.flex-gap {
  display: flex;
  gap: 2rem;
}

.line-separator {
  margin-top: 1.5rem;
}
