<div *ngIf="!loading()">
  <fd-message-strip *ngIf="serviceDetails.hasInactiveUsers" type="warning" class="inactive-users-warning">
    <span>
      This SonarQube project has inactive users. They can activate their account by logging in to SonarQube. It may take
      up to 10 hours until permissions are restored in the SonarQube project.
    </span>
  </fd-message-strip>
  <div class="flex-box">
    <h3 class="heading-margin">SonarQube Configuration</h3>
    <button
      class="left-margin"
      role="button"
      fdType="transparent"
      glyph="hint"
      fd-button
      placement="top"
      [fd-inline-help]="sonarConfigHelp"
      [triggers]="['click']"
      [closeOnOutsideClick]="true"></button>
    <button
      class="auto-left-margin"
      role="button"
      fdType="transparent"
      glyph="question-mark"
      label="Learn More"
      (click)="openDocumentation()"
      fd-button></button>
  </div>
  <div>
    <div>
      <b>SonarQube Project Display Name</b>
    </div>
    <a [href]="getSonarProjectLink(serviceDetails)" target="_blank" rel="noopener noreferrer">
      {{ serviceDetails.name }}
    </a>
  </div>
  <div class="top-margin">
    <b>sonar-project.properties</b>
  </div>
  <div class="code-box">
    <div class="code">{{ serviceDetails.configString?.trim() }}</div>
    <button
      fd-button
      label="Copy"
      fdType="transparent"
      glyph="copy"
      ariaLabel="Copy config.yml"
      (click)="copyConfigStringToClipboard(serviceDetails.configString)"
      class="code-button"></button>
  </div>
</div>

<ng-template #sonarConfigHelp>
  <div>
    We have a created a
    <a
      href="https://www.project-piper.io/steps/sonarExecuteScan/#prerequisites"
      target="_blank"
      rel="noopener noreferrer">
      SonarQube properties file
    </a>
    for you
    <br />
    and added it via pull request to your GitHub repository.
  </div>
</ng-template>
