<div *ngIf="!loading()">
  <div class="flex-box">
    <h3 class="heading-margin">SonarQube Project Display Name</h3>
    <button
      class="auto-left-margin"
      role="button"
      fdType="transparent"
      glyph="question-mark"
      label="Learn More"
      (click)="openDocumentation()"
      fd-button></button>
  </div>
  <a [href]="getSonarProjectLink(serviceDetails)" target="_blank" rel="noopener noreferrer">
    {{ serviceDetails.name }}
  </a>
  <div class="top-margin">
    <b>sonar-project.properties</b>
  </div>
  <div class="code-box">
    <div class="code">{{ serviceDetails.configString?.trim() }}</div>
  </div>
</div>
