<fd-dynamic-page>
  <fd-dynamic-page-content class="background">
    <div class="container">
      <img src="./assets/done.svg" />
      <h2 class="headline-margin">🎊 You've set up your Build Pipeline</h2>
      <p>
        Please take 2 minutes of your time to rate your experience. Your feedback will help to improve the pipeline
        setup.
      </p>
      <div class="buttons">
        <button fd-button fdType="emphasized" label="Give Feedback" (click)="openFeedbackSurvey()"></button>
        <button fd-button fdType="transparent" label="Do Later" (click)="closeCurrentModal()"></button>
      </div>
    </div>
  </fd-dynamic-page-content>
</fd-dynamic-page>
