/* needed for links in subheaders that are injected via [innerHTML] */
::ng-deep a {
	color: var(--sapLinkColor);
	text-decoration: none;
}

/* needed to enable wrap for the subheaders injected via [innerHTML] */
::ng-deep p {
	word-break: normal;
	white-space: normal;
}

.top-margin {
	margin-top: 1rem;
}

.info-box {
	background-color: var(--sapNeutralBackground);
	border-radius: 1rem;
	padding: 0.8rem;
	padding-left: 0;
}

.headline {
	margin: 0;
	margin-left: 1rem;
	font-size: 16px;
}

.instructions {
	margin: 0;
	font-size: 14px;
	line-height: 21px;
}

.refresh-button {
	margin-left: 1rem;
}
