<app-error-message
  title="Component error"
  [message]="errorMessage()"
  (byDismiss)="dismissErrorMessage()"
  *ngIf="errorMessage()"></app-error-message>
<ul fd-list [byline]="true" [noBorder]="true">
  <li
    fd-list-item
    (click)="openDetails(resourceRef.kind, resourceRef.name, resourceRef.status)"
    [ngClass]="
      activeTile === resourceRef.kind && localLayout !== 'OneColumnStartFullScreen' ? 'list-item-selected ' : ''
    "
    class="list-item-border">
    <a fd-list-link>
      <span fd-list-thumbnail class="list-item-icon">
        <ng-container *ngIf="resourceRef.status === serviceStatus.CREATED">
          <span
            fd-object-status
            class="status-icon"
            size="m"
            [status]="isCompliant ? 'positive' : 'critical'"
            [glyph]="isCompliant ? 'status-completed' : 'status-in-progress'"></span>
        </ng-container>
        <fd-busy-indicator
          [loading]="true"
          *ngIf="resourceRef.status === serviceStatus.PENDING_CREATION || resourceRef.status === serviceStatus.UN_KNOWN"
          ariaLabel="loading"
          size="s"
          title="Please Wait"></fd-busy-indicator>
        <span
          fd-object-status
          class="status-icon"
          *ngIf="resourceRef.status === serviceStatus.FAILING_CREATION"
          status="negative"
          glyph="message-error"></span>
        <fd-icon
          title="unclear compliance status"
          *ngIf="resourceRef.status === serviceStatus.NOT_MANAGED"
          glyph="question-mark"
          class="status-icon"></fd-icon>
        <span
          fd-object-status
          class="status-icon"
          *ngIf="resourceRef.status === serviceStatus.NOT_FOUND"
          glyph="circle-task"></span>
      </span>
      <div class="service">
        <div class="name">
          <div style="display: inline-flex">
            <b class="category">{{ kindCategory[resourceRef.kind] }}</b>
            <fd-info-label
              class="info-label"
              *ngIf="!isCompliant"
              label="not compliant"
              [color]="1"
              data-testid="not-compliant-info-label"
              [fd-inline-help]="
                'Missing PPMS info. You shouldn\'t release this component to customers.'
              "></fd-info-label>
            <fd-info-label
              class="info-label"
              *ngIf="resourceRef.status === serviceStatus.NOT_MANAGED"
              [fd-inline-help]="notManagedInlineHelp"
              label="not managed"
              [color]="10"
              data-testid="not-managed-info-label"></fd-info-label>
          </div>
          <span class="name-details">
            {{ kindName[resourceRef.kind] }}
            <code *ngIf="debugModeService.debugModeEnabled()">- {{ resourceRef.kind }}</code>
          </span>
          <code class="debug-details" *ngIf="debugModeService.debugModeEnabled()">
            {{ resourceRef.name }} | {{ resourceRef.status }}
          </code>
        </div>
        <div class="spacer"></div>
        <div *dxpRequiredPolicies="['member', 'owner', 'vault_maintainer']; operator: 'or'">
          <button
            *ngIf="
              localLayout === 'OneColumnStartFullScreen' &&
              (debugModeService.debugModeEnabled() || resourceRef.status === serviceStatus.FAILING_CREATION)
            "
            fd-button
            label="Retry"
            glyph="refresh"
            fdType="transparent"
            ariaLabel="Retry"
            class="retry-button"
            (click)="retryService($event, resourceRef)"></button>
        </div>
        <div class="details-icon">
          <fd-icon
            *ngIf="resourceRef.status === serviceStatus.CREATED || resourceRef.status === serviceStatus.NOT_MANAGED"
            glyph="slim-arrow-right"
            class="icon"></fd-icon>
        </div>
        <ng-container
          *ngIf="
            resourceRef.status === serviceStatus.PENDING_CREATION || resourceRef.status === serviceStatus.UN_KNOWN
          ">
          <p>
            <i>{{ inProgressMsg }}</i>
          </p>
        </ng-container>
      </div>
    </a>
  </li>
</ul>
<ng-template #notManagedInlineHelp>
  {{ kindName[this.resourceRef.kind] }} is not available in the Hyperspace Portal.
  <br />
  The Portal will not manage your setup or allow for edits.
</ng-template>
