<div>
  <div class="flex-box">
    <h3 class="heading-margin">PPMS-FOSS SCV</h3>
    <button
      class="auto-left-margin"
      role="button"
      fdType="transparent"
      glyph="question-mark"
      label="Learn More"
      (click)="openDocumentation()"
      fd-button></button>
  </div>

  <div *ngIf="serviceDetails.scvName && serviceDetails.scvId">
    <div *ngIf="serviceDetails.ppmsLightSCVURL">
      <a [href]="serviceDetails.ppmsLightSCVURL" target="_blank" rel="noopener noreferrer">
        {{ serviceDetails.scvId }} | {{ serviceDetails.scvName }}
      </a>
    </div>
    <div *ngIf="!serviceDetails.ppmsLightSCVURL">
      <a [href]="serviceDetails.ppmsLightSCVURL" target="_blank" rel="noopener noreferrer">
        {{ serviceDetails.scvId }} | {{ serviceDetails.scvName }}
      </a>
    </div>
  </div>
</div>
