<div *ngIf="!loading()">
  <div class="flex-box">
    <h3>Jenkins Instance</h3>
    <button
      class="auto-left-margin"
      role="button"
      glyph="question-mark"
      label="Learn More"
      fdType="transparent"
      (click)="openDocumentation()"
      fd-button></button>
  </div>
  <div>
    <b>URL</b>
  </div>
  <a [href]="originURL" target="_blank">{{ originURL }}</a>
  <div class="top-margin">
    <b>Pipeline</b>
  </div>
  <a [href]="serviceDetails.jobUrl" target="_blank">{{ serviceDetails.name }}</a>
  <div *dxpRequiredPolicies="['member', 'owner', 'vault_maintainer']; operator: 'or'">
    <div class="flex-box top-margin">
      <h3>Jenkins Credentials</h3>
      <button
        class="left-margin"
        role="button"
        fdType="transparent"
        glyph="hint"
        fd-button
        placement="top"
        [fd-inline-help]="credentialsHelp"
        [triggers]="['click']"
        [closeOnOutsideClick]="true"></button>
      <br />
    </div>
    <div>
      <b>Vault Path</b>
    </div>
    <fd-busy-indicator [loading]="pendingShowInVault()" size="s">
      <div [fd-inline-help]="insufficientVaultPermissions" [disabled]="canUserEditCredentials">
        <a
          fd-link
          [disabled]="pendingShowInVault() || !canUserEditCredentials"
          (click)="showInVault(serviceDetails.secretPath)">
          {{ serviceDetails.secretPath }}
        </a>
      </div>
    </fd-busy-indicator>
  </div>
</div>
<div *ngIf="loading()">
  <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
</div>

<ng-template #credentialsHelp>
  <div>
    These credentials are used to configure your Jenkins instance for the Piper Native Build
    <br />
    and to create a job for this pipeline.
  </div>
</ng-template>

<ng-template #insufficientVaultPermissions>
  You need to be 'Vault Maintainer' to see credentials.
  <br />
  Go to the members list to contact a project owner.
</ng-template>
