<ng-container [formGroup]="form">
  <ng-container [formGroupName]="formGroupName">
    <fd-message-strip
      *ngIf="isLoaded()"
      [type]="type"
      [dismissible]="false"
      [ngClass]="formItem.guiOptions?.additionalData?.addMargins ? 'margins' : ''">
      <span [innerHTML]="message"></span>
    </fd-message-strip>
    <!-- input field is required for validation to work -->
    <fdp-input *ngIf="isValidationRequired()" [name]="name" [formControlName]="name" type="text"></fdp-input>
  </ng-container>
</ng-container>
