<div *ngIf="!loading()">
  <div class="flex-box">
    <h3 class="heading-margin">Cumulus Pipeline</h3>
    <button
      class="auto-left-margin"
      role="button"
      fdType="transparent"
      glyph="question-mark"
      label="Learn More"
      (click)="openDocumentation()"
      fd-button></button>
  </div>
  <div class="flex-box">
    <strong>Pipeline ID</strong>
    <button
      fd-button
      fdType="transparent"
      class="left-margin"
      glyph="hint"
      placement="top"
      [fd-inline-help]="idHelp"
      [triggers]="['click']"
      [closeOnOutsideClick]="true"></button>
  </div>
  {{ serviceDetails.id }}
  <div class="flex-box top-margin">
    <b>Pipeline Key</b>
    <button
      fd-button
      fdType="transparent"
      class="left-margin"
      glyph="hint"
      placement="top"
      [fd-inline-help]="keyHelp"
      [triggers]="['click']"
      [closeOnOutsideClick]="true"></button>
  </div>
  {{ serviceDetails.key }}
  <div *dxpRequiredPolicies="['member', 'owner', 'vault_maintainer']; operator: 'or'">
    <div class="flex-box">
      <h3 class="heading-margin">Cumulus Credentials</h3>
      <button
        fd-button
        fdType="transparent"
        class="left-margin"
        glyph="hint"
        placement="top"
        [fd-inline-help]="credentialsHelp"
        [triggers]="['click']"
        [closeOnOutsideClick]="true"></button>
      <br />
    </div>
    <div>
      <b>Vault Path</b>
    </div>
    <fd-busy-indicator [loading]="pendingShowInVault()" size="s">
      <div [fd-inline-help]="insufficientVaultPermissions" [disabled]="canUserEditCredentials()">
        <a
          fd-link
          [disabled]="pendingShowInVault() || !canUserEditCredentials()"
          (click)="showInVault(cumulusSecretPath)">
          {{ cumulusSecretPath }}
        </a>
      </div>
    </fd-busy-indicator>
  </div>
</div>
<div *ngIf="loading()">
  <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
</div>

<ng-template #idHelp>
  <div>
    Use this ID to
    <a
      class="link"
      href="https://github.wdf.sap.corp/pages/ContinuousDelivery/piper-doc/steps/sapCumulusUpload/"
      target="_blank"
      rel="noopener noreferrer">
      upload your pipeline's results
    </a>
    <br />
    using the sapCumulusUpload Piper step
  </div>
</ng-template>

<ng-template #keyHelp>
  <div>
    Use this key to
    <a class="link" href="https://wiki.one.int.sap/wiki/x/iK5Yh" target="_blank" rel="noopener noreferrer">
      add your pipeline to Sirius
    </a>
    <br />
    to view its compliance results
  </div>
</ng-template>

<ng-template #credentialsHelp>
  <div>
    Your pipeline uses these credentials to access and
    <br />
    upload compliance relevant data to Cumulus.
  </div>
</ng-template>

<ng-template #insufficientVaultPermissions>
  You need to be 'Vault Maintainer' to see credentials.
  <br />
  Go to the members list to contact a project owner.
</ng-template>
