<fd-dynamic-page>
  <fd-dynamic-page-content class="background">
    <div class="container">
      <img src="./assets/tent.svg" class="image-margin" alt="shows a tent" />
      <h2 class="headline-margin">Thanks for your interest</h2>
      <p>
        This feature is not available yet.
        <br />
        Help us find out what pipeline you would like to import in the future and why in a 2-minute survey.
      </p>
      <div class="buttons">
        <button fd-button fdType="emphasized" label="Take the Survey" (click)="openFeedbackSurvey()"></button>
        <button fd-button fdType="transparent" label="Close" (click)="closeCurrentModal()"></button>
      </div>
    </div>
  </fd-dynamic-page-content>
</fd-dynamic-page>
