::ng-deep .fd-dynamic-page__title-area { display: none !important; }

.background {
  background-color: var(--fdCard_Background_Color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0rem 2.5rem;

  .image-margin {
    margin-left: 2rem;
  }

  .headline-margin {
    margin: 0;
    margin-top: 1rem;
  }

  .buttons {
    display: flex;
    margin-top: 0.5rem;
    gap: 1rem;
  }
}
