<div class="variable-overwrites" *ngIf="!loading() && pipeline$ | async as pipeline; else skeleton">
  <fdp-dynamic-page ariaLabel="CI/CD Setup">
    <fdp-dynamic-page-title title="CI/CD Setup">
      <fdp-dynamic-page-global-actions>
        <fd-toolbar [clearBorder]="true" fdType="transparent">
          <fd-busy-indicator [loading]="pendingShowCredentials()" size="s"></fd-busy-indicator>
          <div
            [fd-inline-help]="insufficientVaultPermissions"
            [disabled]="pendingShowCredentials() || canUserEditCredentials">
            <button
              (click)="showCredentials()"
              [disabled]="pendingShowCredentials() || !canUserEditCredentials"
              ariaLabel="Show Credentials"
              fd-button
              fdType="transparent"
              glyph="key"
              label="Show Credentials"></button>
          </div>
        </fd-toolbar>
      </fdp-dynamic-page-global-actions>
    </fdp-dynamic-page-title>
    <fdp-dynamic-page-header
      [collapsed]="false"
      [collapsible]="false"
      [pinnable]="false"
      class="ci-cd-header"></fdp-dynamic-page-header>
    <fdp-dynamic-page-content>
      <fd-flexible-column-layout [(layout)]="localLayout">
        <ng-template #startColumn>
          <div class="scrollable-container">
            <div class="header-content">
              <div *ngIf="debugModeService.debugModeEnabled()" class="header-debug-mode">
                <span>Debug Mode</span>
                <i class="header-debug-text">disable with CTRL + D</i>
              </div>
            </div>
            <div class="pipeline-container">
              <div class="pipeline-header">
                <div *ngIf="debugModeService.debugModeEnabled()" class="freestyle-pipeline-info">
                  <button
                    (click)="openPipelineDebugModal($event)"
                    ariaLabel="Pipeline Details"
                    fd-button
                    fdType="transparent"
                    glyph="detail-view">
                    Details
                  </button>
                  <button
                    (click)="debugModeService.openTraces($event, pipeline.namespace)"
                    ariaLabel="Pipeline Traces"
                    fd-button
                    fdType="transparent"
                    glyph="kpi-corporate-performance">
                    Traces
                  </button>
                  <div (click)="getKubeCtlCmd(pipeline.name, pipeline.namespace)" class="freestyle-pipeline-details">
                    <code>FreestylePipeline: {{ pipeline.name }}</code>
                    <code class="namespace">Namespace: {{ pipeline.namespace }}</code>
                  </div>
                  <button (click)="openCumulusModal($event)" ariaLabel="Cumulus info" fd-button>
                    Show Cumulus info
                  </button>
                </div>
              </div>
              <div *ngFor="let error of errors() | keyvalue">
                <app-error-message
                  [automaticdNamespace]="pipeline.namespace"
                  [automaticdResourceName]="error.value.resourceName"
                  [message]="error.value.message"
                  [title]="error.value.title"
                  [tracesUrl]="debugModeService.getTracesURL(pipeline.namespace)"
                  [attr.data-testid]="'pipeline-screen-error-banner'"></app-error-message>
              </div>
              <app-dismissible-message
                *ngIf="isBuildPipelineSetupAndCreated()"
                [displayLink]="true"
                [href]="pipelineURL()"
                [showOnlyOnce]="true"
                linkText="See It in Action"
                message="YAY! Your build pipeline is set up."
                type="success"></app-dismissible-message>
              <fd-message-strip
                type="information"
                [dismissible]="false"
                *ngIf="!isBuildStageSetup() && isTransferredTemplatePipeline()">
                Your Hyperspace Onboarding pipeline is being transferred. This might take up to an hour.
                <br />
                If it takes longer, please
                <a (click)="contactOnTransferIssues()" fd-link>open an issue.</a>
              </fd-message-strip>
              <fd-message-strip
                *ngIf="openPrCount$ | async as openPrCount"
                class="pull-requests-message"
                type="warning"
                data-testid="pipeline-screen-pull-request-banner">
                Merge {{ openPrCount }} open pull request(s).
                <a
                  *ngIf="this.githubMetadata && this.githubMetadata.githubRepoUrl"
                  [href]="this.githubMetadata.githubRepoUrl + '/pulls'"
                  fd-link
                  target="_blank"
                  rel="noopener noreferrer">
                  Open GitHub
                </a>
              </fd-message-strip>
              <fd-card cardType="linkList" class="stage-card">
                <fd-card-content class="card-content-padding">
                  <div
                    (click)="openBuildStage()"
                    class="card-content stage-headline-padding"
                    data-testid="build-stage-arrow">
                    <div class="icons">
                      <fd-icon
                        *ngIf="!isBuildStageOpen() && isBuildStageSetup()"
                        class="icon"
                        glyph="slim-arrow-right"></fd-icon>
                      <fd-icon *ngIf="isBuildStageOpen()" class="icon" glyph="slim-arrow-down"></fd-icon>
                      <div *ngIf="!isBuildStageSetup()" class="placeholder"></div>
                      <fd-avatar [colorAccent]="10" glyph="wrench" size="xs"></fd-avatar>
                    </div>
                    <div class="card-description">
                      <div class="card-description-stage-headline">
                        <h1>Build Pipeline</h1>
                        <p *ngIf="localLayout === 'OneColumnStartFullScreen'">Build and package your code</p>
                      </div>
                    </div>
                    <div class="spacer"></div>
                    <div *dxpRequiredPolicies="['member', 'owner', 'vault_maintainer']; operator: 'or'">
                      <button
                        (click)="openSetupWizard($event)"
                        *ngIf="!isBuildStageSetup() && !isTransferredTemplatePipeline()"
                        data-testid="build-pipeline-set-up-button"
                        fd-button
                        fdType="emphasized"
                        label="Set Up"></button>
                      <fd-busy-indicator
                        [loading]="true"
                        size="s"
                        *ngIf="!isBuildStageSetup() && isTransferredTemplatePipeline()"
                        ariaLabel="loading"
                        title="Please Wait"></fd-busy-indicator>
                      <button
                        (click)="deletePipeline($event, pipeline)"
                        data-testid="build-pipeline-delete-button"
                        *ngIf="isBuildStageSetup() && !pendingDeletion() && !isTransferredTemplatePipeline()"
                        fd-button
                        glyph="delete"
                        title="Delete"></button>
                    </div>
                    <fd-busy-indicator [loading]="pendingOpenPipeline()" size="s">
                      <a
                        (click)="$event.stopPropagation()"
                        *ngIf="showOpenPipelineURL && pipelineURL()"
                        [href]="pipelineURL()"
                        [style.pointer-events]="showOpenPipelineURL && pipelineURL() ? '' : 'none'"
                        fd-link
                        target="_blank"
                        rel="noopener noreferrer">
                        Open Pipeline
                      </a>
                    </fd-busy-indicator>
                    <fd-busy-indicator
                      *ngIf="isBuildStageSetup() && pendingDeletion()"
                      [loading]="true"
                      ariaLabel="loading"
                      label="Pending Deletion"></fd-busy-indicator>
                  </div>
                  <ng-container *ngIf="isBuildStageOpen()">
                    <div *ngFor="let resourceRef of pipeline.resourceRefs | resourceStage: stages.BUILD">
                      <app-category-slot
                        [category]="kindCategory[resourceRef.kind]"
                        [configuredServicesText]="kindName[resourceRef.kind]"
                        [attr.data-testid]="'setup-build-step-' + resourceRef.kind"
                        [debugModeConfig]="{
                          isDebugModeEnabled: debugModeService.debugModeEnabled(),
                          debugModeText: resourceRef.name + ' | ' + resourceRef.kind,
                        }"
                        [statusIconConfig]="{
                          statusIconType: resourceRef.status,
                        }"
                        [statusTagConfig]="{
                          isStatusTagShown: resourceRef.status === serviceStatus.NOT_MANAGED,
                          statusTagText: resourceRef.status === serviceStatus.NOT_MANAGED ? 'Not Managed' : null,
                          statusTagInlineHelpText:
                            resourceRef.status === serviceStatus.NOT_MANAGED
                              ? CategorySlotConfigService.generateNotManagedTooltip([resourceRef])
                              : null,
                        }"
                        [isOpenArrowShown]="
                          resourceRef.status === serviceStatus.CREATED ||
                          resourceRef.status === serviceStatus.NOT_MANAGED ||
                          resourceRef.status === serviceStatus.FAILING_CREATION
                        "
                        (detailsOpened)="openDetails($event)"></app-category-slot>
                    </div>
                  </ng-container>
                </fd-card-content>
              </fd-card>
              <app-validate-code-section
                [pipeline]="pipeline"
                [localLayout]="localLayout"
                (detailsOpened)="openDetails($event)"></app-validate-code-section>
              <div *ngIf="(pipeline.resourceRefs | resourceStage: stages.DEPLOY).length > 0">
                <fd-card cardType="linkList" class="stage-card">
                  <fd-card-content class="card-content-padding">
                    <div
                      (click)="openDeployStage()"
                      class="card-content stage-headline-padding"
                      data-testid="deploy-stage-arrow">
                      <div class="icons">
                        <fd-icon *ngIf="!isDeployStageOpen()" class="icon" glyph="slim-arrow-right"></fd-icon>
                        <fd-icon *ngIf="isDeployStageOpen()" class="icon" glyph="slim-arrow-down"></fd-icon>
                        <fd-avatar [colorAccent]="10" glyph="shipping-status" size="xs"></fd-avatar>
                      </div>
                      <div class="card-description">
                        <div class="card-description-stage-headline">
                          <h1>Deploy</h1>
                          <p *ngIf="localLayout === 'OneColumnStartFullScreen'">
                            Enable a deployment of your packaged code
                          </p>
                        </div>
                      </div>
                    </div>
                    <ng-container *ngIf="isDeployStageOpen()">
                      <div *ngFor="let resourceRef of pipeline.resourceRefs | resourceStage: stages.DEPLOY">
                        <app-category-slot
                          [category]="kindCategory[resourceRef.kind]"
                          [configuredServicesText]="kindName[resourceRef.kind]"
                          [attr.data-testid]="'setup-deployment-step-' + resourceRef.kind"
                          [debugModeConfig]="{
                            isDebugModeEnabled: debugModeService.debugModeEnabled(),
                            debugModeText: resourceRef.name + ' | ' + resourceRef.kind,
                          }"
                          [statusIconConfig]="{
                            statusIconType: resourceRef.status,
                          }"
                          [statusTagConfig]="{
                            isStatusTagShown: resourceRef.status === serviceStatus.NOT_MANAGED,
                            statusTagText: resourceRef.status === serviceStatus.NOT_MANAGED ? 'Not Managed' : null,
                            statusTagInlineHelpText:
                              resourceRef.status === serviceStatus.NOT_MANAGED
                                ? CategorySlotConfigService.generateNotManagedTooltip([resourceRef])
                                : null,
                          }"
                          [isOpenArrowShown]="
                            resourceRef.status === serviceStatus.CREATED ||
                            resourceRef.status === serviceStatus.NOT_MANAGED
                          "
                          (detailsOpened)="openDetails($event)"></app-category-slot>
                      </div>
                    </ng-container>
                  </fd-card-content>
                </fd-card>
              </div>

              <div *ngIf="(pipeline.resourceRefs | resourceStage: stages.DEPLOY).length === 0">
                <fd-card cardType="linkList" class="stage-card disabled">
                  <fd-card-content>
                    <div class="coming-soon-stage">
                      <div class="card-content stage-headline-padding">
                        <div class="icons">
                          <div class="placeholder"></div>
                          <fd-avatar [colorAccent]="10" glyph="shipping-status" size="xs"></fd-avatar>
                        </div>
                        <div class="card-description">
                          <div class="card-description-stage-headline">
                            <h1 class="disabled-headline">Deploy</h1>
                            <p *ngIf="localLayout === 'OneColumnStartFullScreen'">
                              Enable a deployment of your packaged code
                            </p>
                          </div>
                        </div>
                      </div>
                      <fd-info-label color="10" fdCozy label="Vision" title="Vision"></fd-info-label>
                    </div>
                  </fd-card-content>
                </fd-card>
              </div>
              <app-automate-workflows
                *ngIf="showGithubActions()"
                [isServiceDetailOpen]="localLayout !== 'OneColumnStartFullScreen'"
                [githubActionsDetails]="pipeline.githubActionsDetails"
                [githubActionsExtensionData]="getExtensionClass(kinds.GITHUB_ACTIONS_ENABLEMENT)"
                [isBuildPipelinePresent]="isBuildStageSetup()"
                (detailsOpened)="openDetails($event)"></app-automate-workflows>
            </div>
          </div>
        </ng-template>
        <ng-template #midColumn>
          <div class="scrollable-container">
            <app-service-details-skeleton
              *ngIf="localLayout !== 'OneColumnStartFullScreen'"
              (localLayoutEvent)="updateLocalLayout($event)"
              [activeCategory]="activeCategory"
              [localLayout]="localLayout"
              [leanIxData]="extensionClasses()"
              [pipeline]="pipeline"></app-service-details-skeleton>
          </div>
        </ng-template>
      </fd-flexible-column-layout>
    </fdp-dynamic-page-content>
  </fdp-dynamic-page>
</div>

<ng-template #loadingContent>
  <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
</ng-template>

<ng-template #insufficientVaultPermissions>
  You need to be 'Vault Maintainer' to see credentials.
  <br />
  Go to the members list to contact a project owner.
</ng-template>

<ng-template #skeleton>
  <fd-skeleton height="3rem" type="rectangle" width="100%"></fd-skeleton>
  <div class="pipeline-container">
    <fd-skeleton class="skeleton-top-element-margin" height="4rem" type="rectangle" width="100%"></fd-skeleton>
    <fd-skeleton class="skeleton-margin" height="4rem" type="rectangle" width="100%"></fd-skeleton>
    <fd-skeleton class="skeleton-margin" height="4rem" type="rectangle" width="100%"></fd-skeleton>
  </div>
</ng-template>
