/* 
* We need to overwrite the column layout border and background here to keep our UI look.
* Related PR: https://github.com/SAP/fundamental-styles/pull/4485/files
*/
.variable-overwrites {
  --fdFlexibleColumnLayout_Border: none;
  --fdFlexibleColumnLayout_Background_Solid: transparent;
}

.ci-cd-header {
  margin: 0.1rem 0.5rem 0.1rem 0.1rem;

  .header-content {
    display: flex;
    align-items: center;
  }

  .header {
    padding: 0.75rem 1.5rem;

    .header-text {
      font-size: 1.5rem;
      margin: 1rem;
    }
  }

  .header-debug-mode {
    display: flex;
    flex-direction: column;
    color: var(--sapNeutralColor);
  }

  .header-debug-text {
    font-size: var(--sapFontSmallSize);
  }

  .header-buttons {
    margin-left: auto !important;
  }

  .header-button {
    margin-left: 0.5rem;
    margin-right: 1rem !important;
  }
}

.pipeline-container {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  padding: 0.5rem;

  .pipeline-header {
    display: flex;
    align-items: end;
    gap: 0.5rem;
  }

  .pull-requests-message {
    margin-top: 0.5rem;
  }
}

.stage-card {
  margin-top: 1rem;

  .card-content-padding {
    padding: 0;
  }

  .stage-headline-padding {
    padding: 2px 2px 2px 8px;
  }

  .card-content {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right: 1rem;

    .icons {
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .icon {
        margin-left: 1rem;
        width: 32px;
        font-size: 20px;
        color: var(--sapButton_Lite_TextColor);

      }

      .placeholder {
        width: 32px;
        margin-left: 1rem;
      }
    }

    .card-content-padding {
      padding: 0;
    }

    .card-description {
      display: flex;
      flex-direction: column;

      .card-description-stage-headline {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;

        h1 {
          margin: 0;
          font-size: 18px;
        }
        p {
          font-size: 14px;
        }
      }

      .disabled-headline {
        color: var(--sapAccentColor10);
        font-size: 18px;
        margin: 0;
      }

    }

    .card-description p {
      margin: 0;
      color: var(--sapNeutralColor);
    }
  }

  .list-item-selected {
    background-color: var(--sapList_SelectionBackgroundColor);
  }

  .status-icon {
    font-size: 16px;
  }

  .coming-soon-stage {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

fd-info-label {
  text-transform: uppercase;
}

.freestyle-pipeline-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .freestyle-pipeline-details {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .namespace {
      font-size: 11px;
    }
  }
}

.skeleton-text {
  padding: 20px;
}

.skeleton-top-margin {
  margin-top: 1rem;
}

.spacer {
  flex-grow: 1;
}

.disabled {
  background-color: transparent;
  box-shadow: none !important;
  border: 1px solid var(--sapObjectHeader_BorderColor);
}

.automate-workflows-header {
  h3 {
    margin: 2rem 0 0 0;
  }
  p {
    margin: 0 0 1.5rem 0;
  }
}

.upgrade-github-actions-banner {
  margin-bottom: 1rem;
}

.github-actions-automation-workflows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  .card-content {
    gap: 1rem;
    display: flex;
    align-items: center;

    .card-description {
      display: flex;
      flex-direction: column;
    }

    .card-header {
      margin: 0;
      font-size: 1rem;
    }
  }

  .card-content p {
    font-size: 1rem;
    margin: 0;
    color: var(--sapNeutralColor);
    font-size: 0.8rem;
  }
  .card-content-github-actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    .card-content-label {
      margin-top: 6px;
    }
  }
}

li::before {
  border-radius: var(--fdCard_Border_Radius) !important;
}

.scrollable-container {
  overflow: scroll;
  height: 94.5vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

.github-actions-enabled-card {
  margin-top: 0;

  .thumbnail-margin {
    margin: 0 !important;
  }
}
.actions-enabled-card-content {
  display: flex;
  width: 100%;
  align-items: center;

  .avatar-margin {
    margin-right: 0.75rem;
  }

  .name-kind {
    display: flex;
    flex-direction: column;

    .name {
      font-size: 16px;
    }
  }

  .pending-creation {
    margin-left: 1rem;
  }

  .arrow-right {
    font-size: 20px;
    color: var(--sapNeutralColor);
    margin-right: 1rem;
  }
}

.github-actions-result {
  padding: 0;
}

@media only screen and (max-width: 960px) {
  .hide-on-small-screen {
    display: none;
  }
}
