<div class="variable-overwrites">
  <fd-flexible-column-layout [(layout)]="localLayout">
    <ng-template #startColumn>
      <div *ngIf="pipeline$ | async as pipeline; else skeleton" class="scrollable-container">
        <div class="ci-cd-header">
          <fd-card cardType="linkList">
            <fd-card-content class="header">
              <div class="header-content">
                <h1 class="header-text"><strong>CI/CD Setup</strong></h1>
                <div class="header-debug-mode" *ngIf="debugModeService.debugModeEnabled()">
                  <span>Debug Mode</span>
                  <i class="header-debug-text">disable with CTRL + D</i>
                </div>
                <div class="header-buttons">
                  <fd-busy-indicator [loading]="pendingShowCredentials()" size="s">
                    <button
                      fd-button
                      label="Show Credentials"
                      [disabled]="pendingShowCredentials()"
                      fdType="transparent"
                      glyph="key"
                      ariaLabel="Show Credentials"
                      (click)="showCredentials()"></button>
                  </fd-busy-indicator>
                </div>
              </div>
            </fd-card-content>
          </fd-card>
        </div>
        <div class="pipeline-container">
          <div class="pipeline-header">
            <div *ngIf="debugModeService.debugModeEnabled()" class="freestyle-pipeline-info">
              <button
                fd-button
                fdType="transparent"
                glyph="detail-view"
                ariaLabel="Pipeline Details"
                (click)="openPipelineDebugModal($event)">
                Details
              </button>
              <button
                fd-button
                fdType="transparent"
                glyph="kpi-corporate-performance"
                ariaLabel="Pipeline Traces"
                (click)="debugModeService.openTraces($event, pipeline.namespace)">
                Traces
              </button>
              <div class="freestyle-pipeline-details" (click)="getKubeCtlCmd(pipeline.name, pipeline.namespace)">
                <code>FreestylePipeline: {{ pipeline.name }}</code>
                <code class="namespace">Namespace: {{ pipeline.namespace }}</code>
              </div>
            </div>
          </div>
          <div *ngFor="let error of errors()">
            <error-message
              [title]="error.title"
              [message]="error.message"
              [automaticdNamespace]="pipeline.namespace"
              [automaticdResourceName]="error.resourceName"
              [tracesUrl]="debugModeService.getTracesURL(pipeline.namespace)"></error-message>
          </div>
          <dismissible-message
            *ngIf="isBuildPipelineSetup()"
            type="success"
            message="YAY! Your build pipeline is set up."
            [showOnlyOnce]="true"
            [displayLink]="true"
            linkText="See It in Action"
            [href]="pipelineURL()"></dismissible-message>
          <fd-message-strip class="pull-requests-message" type="warning" *ngIf="this.openPRCount()">
            Merge {{ this.openPRCount() }} open pull requests.
            <a
              fd-link
              [href]="this.githubMetadata.githubRepoUrl + '/pulls'"
              target="_blank"
              *ngIf="this.githubMetadata.githubRepoUrl">
              Open GitHub
            </a>
          </fd-message-strip>
          <fd-card cardType="linkList" class="stage-card">
            <fd-card-content class="card-content-padding">
              <div class="card-content build-stage-padding" (click)="openBuildStage()">
                <div class="icons">
                  <fd-avatar *ngIf="!isBuildStageSetup()" [colorAccent]="1" size="m" glyph="wrench"></fd-avatar>
                  <fd-icon
                    *ngIf="!isBuildStageOpen() && isBuildStageSetup()"
                    glyph="slim-arrow-right"
                    class="icon"></fd-icon>
                  <fd-icon *ngIf="isBuildStageOpen()" glyph="slim-arrow-down" class="icon"></fd-icon>
                </div>
                <div class="card-description">
                  <div class="card-description-build">
                    <h1 [ngClass]="isBuildStageSetup() ? 'stage-setup-header' : ''"><strong>Build Pipeline</strong></h1>
                    <fd-info-label
                      *ngIf="isBuildStageSetup()"
                      label="Compliant Setup"
                      color="8"
                      title="New"></fd-info-label>
                  </div>
                  <p *ngIf="!isBuildStageSetup()">Get a pipeline that builds and packages your code</p>
                </div>
                <div class="spacer"></div>
                <button
                  *ngIf="!isBuildStageSetup()"
                  fd-button
                  label="Set Up"
                  fdType="emphasized"
                  (click)="openSetupWizard($event)"></button>
                <button
                  *ngIf="isBuildStageSetup() && !pendingDeletion()"
                  fd-button
                  title="Delete"
                  glyph="delete"
                  (click)="deletePipeline($event, pipeline)"></button>
                <fd-busy-indicator [loading]="pendingOpenPipeline()" size="s">
                  <a
                    [href]="pipelineURL()"
                    *ngIf="showOpenPipelineURL && pipelineURL()"
                    fd-link
                    (click)="$event.stopPropagation()"
                    target="_blank"
                    [style.pointer-events]="showOpenPipelineURL && pipelineURL() ? '' : 'none'">
                    Open Pipeline
                  </a>
                </fd-busy-indicator>
                <fd-busy-indicator
                  *ngIf="isBuildStageSetup() && pendingDeletion()"
                  [loading]="true"
                  ariaLabel="loading"
                  label="Pending Deletion"></fd-busy-indicator>
              </div>
              <ng-container *ngIf="isBuildStageOpen()">
                <div *ngFor="let resourceRef of pipeline.resourceRefs">
                  <!-- CumulusGroup should be ignored for the UI, since CumulusPipeline is the valid reference for a single pipeline -->
                  <div *ngIf="resourceRef.kind !== 'CumulusGroup'">
                    <!--The GithubAction resource is not part of the build stage yet. -->
                    <div class="card" *ngIf="resourceRef.kind !== 'GithubAction'">
                      <app-service-list-item
                        [resourceRef]="resourceRef"
                        [activeTile]="activeTile"
                        [localLayout]="localLayout"
                        (openDetailsEvent)="openDetails($event)"></app-service-list-item>
                    </div>
                  </div>
                </div>
              </ng-container>
            </fd-card-content>
          </fd-card>
          <fd-card cardType="linkList" class="stage-card disabled">
            <fd-card-content>
              <div class="coming-soon-stage">
                <div class="card-content">
                  <fd-avatar [colorAccent]="10" size="m" glyph="shield"></fd-avatar>
                  <div class="card-description">
                    <h1 class="disabled-headline"><strong>Validate Code</strong></h1>
                    <p>Get feedback on the compliance of your code</p>
                  </div>
                </div>
                <fd-info-label label="Coming Soon" color="10" title="Coming Soon"></fd-info-label>
              </div>
            </fd-card-content>
          </fd-card>
          <fd-card cardType="linkList" class="stage-card disabled">
            <fd-card-content>
              <div class="coming-soon-stage">
                <div class="card-content">
                  <fd-avatar [colorAccent]="10" size="m" glyph="shipping-status"></fd-avatar>
                  <div class="card-description">
                    <h1 class="disabled-headline"><strong>Deploy</strong></h1>
                    <p>Enable a deployment of your packaged code</p>
                  </div>
                </div>
                <fd-info-label fdCozy label="Coming Soon" color="10" title="Coming Soon"></fd-info-label>
              </div>
            </fd-card-content>
          </fd-card>
          <ng-container *ngIf="showGithubActions()">
            <div class="automate-workflows-header">
              <h3>Automate Workflows</h3>
              <p>Execute different tasks beyond your Build, Validate, Deploy pipeline.</p>
            </div>
            <ng-container
              *ngIf="!pendingExtensionClass() && isGithubActionsEnabledAlready$ | async as gha; else loadingContent">
              <upgrade-banner
                class="upgrade-github-actions-banner"
                *ngIf="(isGithubActionsEnabledInSameComponent() || gha.isAlreadyManaged) && !isBuildStageSetup()"
                [showBalloons]="localLayout === 'OneColumnStartFullScreen'"></upgrade-banner>
              <!--the below card will be shown if the GitHub Actions is enabled -->
              <fd-card
                class="github-actions-enabled-card"
                cardType="linkList"
                class="stage-card"
                *ngIf="gha.isAlreadyManaged || isGithubActionsEnabledInSameComponent(); else notEnabled">
                <fd-card-content class="card-content-padding">
                  <ul fd-list [byline]="true" [noBorder]="true">
                    <li
                      [ngClass]="
                        activeTile === kinds.GITHUB_ACTION && localLayout != 'OneColumnStartFullScreen'
                          ? 'list-item-selected'
                          : ''
                      "
                      fd-list-item
                      (click)="
                        openDetails({ name: '', kind: kinds.GITHUB_ACTION, status: 'Created', pipeline: pipeline })
                      ">
                      <a fd-list-link>
                        <span fd-list-thumbnail class="thumbnail-margin">
                          <ng-container *ngIf="isGithubActionsEnabledInSameComponent()">
                            <ng-container *ngFor="let resourceRef of pipeline.resourceRefs">
                              <ng-container *ngIf="resourceRef.kind === 'GithubAction'">
                                <span
                                  *ngIf="resourceRef.status === serviceStatus.CREATED"
                                  fd-object-status
                                  class="status-icon"
                                  status="positive"
                                  glyph="message-success"></span>
                                <fd-busy-indicator
                                  [loading]="true"
                                  *ngIf="
                                    resourceRef.status === serviceStatus.PENDING_CREATION ||
                                    resourceRef.status === serviceStatus.UN_KNOWN
                                  "
                                  ariaLabel="loading"
                                  size="s"
                                  title="Please Wait"></fd-busy-indicator>
                                <span
                                  fd-object-status
                                  class="status-icon"
                                  *ngIf="resourceRef.status === serviceStatus.FAILING_CREATION"
                                  status="negative"
                                  glyph="message-error"></span>
                                <span
                                  fd-object-status
                                  class="status-icon"
                                  *ngIf="resourceRef.status === serviceStatus.NOT_FOUND"
                                  glyph="circle-task"></span>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="!isGithubActionsEnabledInSameComponent()">
                            <span fd-object-status class="status-icon" status="positive" glyph="message-success"></span>
                          </ng-container>
                        </span>
                        <div class="actions-enabled-card-content">
                          <fd-avatar
                            size="s"
                            class="avatar-margin"
                            image="{{ getIcon(kinds.GITHUB_ACTION) }}"
                            [label]="kindName[kinds.GITHUB_ACTION]"
                            [colorAccent]="10"></fd-avatar>
                          <div class="name-kind">
                            <b class="name">{{ kindName[kinds.GITHUB_ACTION] }}</b>
                            <fd-info-label fdCozy label="Orchestration" color="10" title="Orchestrator"></fd-info-label>
                          </div>
                          <ng-container *ngIf="isGithubActionsEnabledInSameComponent()">
                            <ng-container *ngFor="let resourceRef of pipeline.resourceRefs">
                              <ng-container *ngIf="resourceRef.kind === 'GithubAction'">
                                <ng-container
                                  *ngIf="
                                    resourceRef.status === serviceStatus.PENDING_CREATION ||
                                    resourceRef.status === serviceStatus.UN_KNOWN
                                  ">
                                  <p class="pending-creation">
                                    <i>
                                      We are setting up GitHub Actions and runners for you.
                                      <br />
                                      This might take 3-5 minutes.
                                    </i>
                                  </p>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                          <div class="spacer"></div>
                          <div>
                            <fd-icon glyph="slim-arrow-right" class="arrow-right"></fd-icon>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </fd-card-content>
              </fd-card>
              <ng-template #notEnabled>
                <fd-card *ngIf="!isGithubActionsEnabledInSameComponent()" cardType="list">
                  <!--The GitHub Actions is not yet enabled for the corresponding GitHub organization.-->
                  <fd-card-content>
                    <div class="github-actions-automation-workflows">
                      <div class="card-content">
                        <fd-avatar
                          size="s"
                          image="{{ getIcon(kinds.GITHUB_ACTION) }}"
                          [label]="kindName[kinds.GITHUB_ACTION]"
                          [colorAccent]="10"></fd-avatar>
                        <div class="card-description">
                          <div class="card-content-github-actions">
                            <h1 class="card-header"><strong>GitHub Actions</strong></h1>
                            <fd-info-label
                              class="card-content-label"
                              fdCozy
                              label="New"
                              color="7"
                              title="New"></fd-info-label>
                          </div>
                          <div class="card-content-github-actions">
                            <fd-info-label fdCozy label="Orchestration" color="10" title="Orchestrator"></fd-info-label>
                          </div>
                        </div>
                      </div>
                      <button
                        class="card-content"
                        fd-button
                        label="Enable"
                        fdType="standard"
                        (click)="openGithubActionWizard($event)"></button>
                    </div>
                  </fd-card-content>
                </fd-card>
              </ng-template>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <ng-template #skeleton>
        <fd-skeleton type="rectangle" width="100%" height="6rem"></fd-skeleton>
        <div class="pipeline-container">
          <fd-skeleton type="text" width="15rem" textLines="2" class="skeleton-text"></fd-skeleton>
          <fd-skeleton type="rectangle" width="100%" height="6rem" class="skeleton-top-margin"></fd-skeleton>
          <fd-skeleton type="rectangle" width="100%" height="6rem" class="skeleton-top-margin"></fd-skeleton>
          <fd-skeleton type="rectangle" width="100%" height="6rem" class="skeleton-top-margin"></fd-skeleton>
        </div>
      </ng-template>
    </ng-template>
    <ng-template #midColumn>
      <div class="scrollable-container">
        <app-service-details-skeleton
          [activeTile]="activeTile"
          [localLayout]="localLayout"
          (localLayoutEvent)="updateLocalLayout($event)"></app-service-details-skeleton>
      </div>
    </ng-template>
  </fd-flexible-column-layout>
</div>

<ng-template #loadingContent>
  <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
</ng-template>
