<ng-container [formGroup]="form">
  <ng-container [formGroupName]="formGroupName">
    <div *ngIf="extensionClass()" class="extension-info-container">
      <div class="extension-info">
        <fd-avatar
          size="xs"
          image="{{ extensionImage() }}"
          [label]="extensionClass().displayName"
          [colorAccent]="10"></fd-avatar>
        <span class="extension-name">
          {{ extensionClass().displayName }}
        </span>
      </div>
      <fd-icon
        *ngIf="popoverHtml() && !isNoPopoverHtmlIcon()"
        class="extension-info-icon"
        glyph="hint"
        [placement]="placement()"
        color="information"
        [fd-inline-help]="extensionInfoPopover"
        [triggers]="['click']"
        [closeOnOutsideClick]="true"></fd-icon>
      <a [href]="isNoPopoverHtmlIconLink()" target="_blank" rel="noopener noreferrer" class="extension-info-icon">
        <fd-icon *ngIf="isNoPopoverHtmlIcon()" glyph="hint" color="information"></fd-icon>
      </a>
      <ng-template #extensionInfoPopover>
        <div [innerHTML]="popoverHtml()"></div>
      </ng-template>
    </div>
  </ng-container>
</ng-container>
