.footer-buttons-gap {
  gap: 0.5rem;
}

.actions-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
