<div>
  <div class="flex-box">
    <h3 class="heading-margin">GitHub Repository</h3>
    <button
      class="auto-left-margin"
      role="button"
      glyph="question-mark"
      label="Learn More"
      [toggled]="true"
      (click)="openDocumentation()"
      fd-button></button>
  </div>
  <a [href]="serviceDetails.repositoryUrl" target="_blank">
    {{ serviceDetails.organization }}/{{ serviceDetails.repository }}
  </a>
  <div class="flex-box top-margin">
    <h3 class="heading-margin">GitHub Instance</h3>
  </div>
  <a [href]="githubInstance" target="_blank">
    {{ githubInstance }}
  </a>
  <div *dxpRequiredPolicies="['projectAdmin', 'projectMember']; operator: 'or'">
    <div class="flex-box top-margin">
      <h3>GitHub Credentials</h3>
      <button
        class="left-margin"
        role="button"
        fdType="transparent"
        glyph="hint"
        fd-button
        placement="top"
        [fd-inline-help]="credentialsHelp"
        [triggers]="['click']"
        [closeOnOutsideClick]="true"></button>
      <br />
    </div>
    <div>
      <b>Vault Path</b>
    </div>
    <fd-busy-indicator [loading]="pendingShowInVault()" size="s">
      <a fd-link [disabled]="pendingShowInVault()" (click)="showInVault(serviceDetails.secretPath)">
        {{ serviceDetails.secretPath }}
      </a>
    </fd-busy-indicator>
  </div>
</div>

<ng-template #credentialsHelp>
  <div>
    These credentials are used by the Piper Native Build and this UI
    <br />
    to access and manage your GitHub Repository.
  </div>
</ng-template>
