<div>
  <div class="flex-box">
    <h3 class="heading-margin">BlackDuck Pipeline</h3>
    <button
      class="auto-left-margin"
      role="button"
      fdType="transparent"
      glyph="question-mark"
      label="Learn More"
      (click)="openDocumentation()"
      fd-button></button>
  </div>

  <a [href]="serviceDetails.projectLink" target="_blank" rel="noopener noreferrer">
    {{ serviceDetails.pipelineName }}
  </a>

  <div *ngIf="serviceDetails.ppmsId">
    <div class="flex-box">
      <h3 class="heading-margin">PPMS Object ID</h3>
    </div>
    <p class="p-tag-remove-margin">{{ serviceDetails.ppmsId }}</p>
  </div>

  <div *ngIf="serviceDetails.secretPath">
    <div *dxpRequiredPolicies="['member', 'owner', 'vault_maintainer']; operator: 'or'">
      <div class="flex-box top-margin">
        <h3>BlackDuck Credentials</h3>
        <br />
      </div>
      <div>
        <b>Vault Path</b>
      </div>
      <fd-busy-indicator [loading]="pendingShowInVault()" size="s">
        <div [fd-inline-help]="insufficientVaultPermissions" [disabled]="canUserEditCredentials()">
          <a
            fd-link
            [disabled]="pendingShowInVault() || !canUserEditCredentials()"
            (click)="showInVault(serviceDetails.secretPath)">
            {{ serviceDetails.secretPath }}
          </a>
        </div>
      </fd-busy-indicator>
    </div>
  </div>
</div>

<ng-template #insufficientVaultPermissions>
  You need to be 'Vault Maintainer' to see credentials.
  <br />
  Go to the members list to contact a project owner.
</ng-template>
