.setup-build-margin {
  margin: 1rem 2rem;
}

.busy-indicator {
  text-align: center;
  margin-top: 5rem;
}

.form-margins {
  margin-bottom: 4rem;
  max-width: 40rem;
}

.actions-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-buttons-gap {
  gap: 0.5rem;
}

#message-popover {
  --sapButton_TextColor: var(--sapButton_Negative_TextColor);
  --sapButton_BorderColor: var(--sapButton_Negative_Background);
  --sapButton_Background: var(--sapButton_Negative_BorderColor);
}
