<div>
  <div class="setup-build-margin">
    <app-error-message
      title="Setup build could not be completed"
      [message]="errorMessage()"
      (byDismiss)="dismissErrorMessage()"
      *ngIf="errorMessage()"></app-error-message>
    <div class="busy-indicator" *ngIf="loading">
      <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
    </div>
    <div class="form-margins">
      <fdp-message-popover-form-wrapper
        #formGeneratorWrapper
        [forms]="formGenerator?.formGroup"
        [formFields]="formGenerator?.formFields">
        <fdp-form-generator
          *ngIf="!loading"
          [formItems]="questions"
          (formSubmitted)="onFormSubmitted($event)"
          (formCreated)="onFormCreated()"></fdp-form-generator>
      </fdp-message-popover-form-wrapper>
    </div>
  </div>
  <div fd-bar barDesign="footer" class="actions-footer">
    <div fd-bar-left>
      <fdp-message-popover id="message-popover" [wrapper]="formGeneratorWrapper"></fdp-message-popover>
    </div>
    <div fd-bar-right class="footer-buttons-gap">
      <button
        fd-button
        *ngIf="formCreated"
        (click)="submitForm()"
        [disabled]="loading"
        type="submit"
        fdType="emphasized"
        label="Set up Build"></button>
      <button
        fd-button
        *ngIf="formCreated"
        fdType="transparent"
        [disabled]="loading"
        label="Cancel"
        (click)="cancel()"></button>
    </div>
  </div>
</div>
