.flex-box {
  display: flex;
  align-items: baseline;
}
.left-margin {
  margin-left: 8px;
}

.auto-left-margin {
  margin-left: auto;
}

.heading-margin {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
.top-margin {
  margin-top: 1rem;
}

.bottom-margin {
  margin-bottom: 1rem;
}

a {
  color: var(--sapLinkColor);
  text-decoration: none;
}

.p-tag-remove-margin {
  margin-bottom: 0;
  margin-top: 0;
}

.icon {
  color: var(--sapNeutralColor);
  cursor: pointer;
}

.divider {
  border-top: 1px solid var(--sapNeutralBorderColor);
  width: 100%;
  margin: 18px 0;
}

.no-margin {
  margin: 0;
}
.content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .fields {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 16px;

      .field {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 4px;
      }
    }

  }

}

.field-title {
  color: var(--sapContent_LabelColor);
  font-family: var(--sapFontFamily), sans-serif;
  font-size: 14px;
  line-height: 16.1px;
}

.field-value {
  color: var(--sapTextColor);
  font-family: var(--sapFontFamily), sans-serif;
  font-size: 14px;
  line-height: 16.1px;
}

.field-value--link {
  color: var(--sapLinkColor);
}
