.flex-box {
  display: flex;
  align-items: baseline;
}
.left-margin {
  margin-left: 8px;
}

.auto-left-margin {
  margin-left: auto;
}

.heading-margin {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
.top-margin {
  margin-top: 1rem;
}

.bottom-margin {
  margin-bottom: 1rem;
}

a {
  color: var(--sapLinkColor);
  text-decoration: none;
}

.p-tag-remove-margin {
  margin-bottom: 0;
  margin-top: 0;
}

.icon {
  color: var(--sapNeutralColor);
  cursor: pointer;
}
