.flex-box {
    display: flex;
}

.flex-box .auto-left-margin {
    margin-left: auto;
}

.flex-box .heading-margin {
    margin-bottom: 0.5rem;
}

a {
    color: var(--sapLinkColor);
    text-decoration: none;
}
