.busy-indicator {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 0;

  .not-found-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .label {
    color: var(--sapContent_LabelColor);
  }
  .separator {
    width: 100%;
    height: 1px;
    background: #d9d9d9;
    margin-bottom: 16px;
  }

  .section-heading {
    font-weight: 700;
    font-size: 16px;
    display: block;
  }

  .button-margin {
    margin-bottom: 30px;
  }

  .buttons {
    display: flex;
    gap: 8px;
  }
}

.link {
  color: var(--sapLink_Active_Color);
  text-decoration: none;
}

.remove-top-margin {
  margin-top: 0;
}

.icon {
  color: var(--sapNeutralColor);
  cursor: pointer;
}

.dialog-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
