.list-item-border {
    border-top: 1px !important;
    border-color: var(--sapList_BorderColor) !important;
    border-style: solid !important;
}

.list-item-border:hover {
    background: var(--sapList_Hover_Background);
}

li::before {
    border-radius: var(--fdCard_Border_Radius) !important;
}

.thumbnail {
    width: 0;
    min-width: 0;
    max-width: 0;
}

.service {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 26px; /* align the text with the shield icon */


    .name {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;


        .icon {
            color: var(--sapNeutralColor);
            position: relative;
        }

    }
}


@media only screen and (max-width: 960px) {
    .hide-on-small-screen {
        display: none;
    }
}
