<ul fd-list [byline]="true" [noBorder]="true">
  <li fd-list-item class="list-item-border">
    <a fd-list-link>
      <span fd-list-thumbnail class="list-item-icon"></span>
      <div class="service">
        <div class="name">
          <strong>{{ serviceName }}</strong>
          <fd-icon *ngIf="infoPopoverText" class="icon" glyph="hint" [fd-inline-help]="infoPopoverText"></fd-icon>
        </div>
        <fd-info-label *ngIf="labelText" color="10" font="SAP-icons-TNT" [label]="labelText"></fd-info-label>
      </div>
      <div *dxpRequiredPolicies="['projectAdmin', 'projectMember']; operator: 'or'">
        <button
          (click)="openDialog($event, setupDialogType)"
          (keyup.enter)="openDialog($event, setupDialogType)"
          *ngIf="setupDialogType && !isSetupButtonDisabled"
          ariaLabel="Add"
          fd-button
          label="Add"></button>
        <button
          *ngIf="setupDialogType && isSetupButtonDisabled"
          [aria-disabled]="isSetupButtonDisabled"
          [fd-inline-help]="'The build stage needs to be set up before this step can be configured.'"
          ariaLabel="Add"
          fd-button
          label="Add"></button>
      </div>
    </a>
  </li>
</ul>
