<div class="service-category-header">
  <fd-card cardType="linkList">
    <fd-card-content class="header">
      <div class="header-items">
        <h1 class="header-text">
          {{ activeCategory }}
        </h1>
        <div class="buttons">
          <button
            fd-button
            fdType="transparent"
            glyph="resize"
            ariaLabel="Expand Details"
            *ngIf="localLayout !== 'OneColumnMidFullScreen'"
            (click)="expandDetails()"></button>
          <button
            class="button-margin hide-on-small-screen"
            fd-button
            fdType="transparent"
            glyph="exitfullscreen"
            *ngIf="localLayout === 'OneColumnMidFullScreen'"
            ariaLabel="Shrink Details"
            (click)="shrinkDetails()"></button>
          <button
            fd-button
            fdType="transparent"
            glyph="decline"
            ariaLabel="Close Details"
            (click)="closeDetails()"
            data-testid="closeDetailsButton"></button>
        </div>
      </div>
    </fd-card-content>
  </fd-card>
  <div *ngFor="let error of getAllErrors()">
    <app-error-message [title]="error.title" [message]="error.message"></app-error-message>
  </div>
</div>
<div *ngIf="servicesToShow()">
  <ng-container *ngFor="let serviceKind of servicesToShow()">
    <div class="service-card">
      <fd-card cardType="linkList" class="card">
        <fd-card-content>
          <div class="header">
            <div class="flexbox-center">
              <h1 class="headline">
                {{ kindName[serviceKind] }}
              </h1>
              <span
                *ngIf="isServiceFailingCreation(serviceKind)"
                fd-object-status
                status="negative"
                [inverted]="true"
                label="Error"
                title="Error"
                glyph="error"
                aria-label="Error">
                Error
              </span>
              <span
                *ngIf="isServiceNotManaged(serviceKind)"
                fd-object-status
                [indicationColor]="getNeutralColorAccent()"
                [secondaryIndication]="true"
                [inverted]="true"
                label="Not Managed"
                title="Not Managed">
                Not Managed
              </span>
            </div>
            <div class="buttons">
              <div
                *ngIf="
                  debugModeService.debugModeEnabled() &&
                  debugModeService.isHyperspaceAdmin() &&
                  getResourceStatusFromResourceRefs(serviceKind, pipeline.resourceRefs) !== ServiceStatus.NOT_MANAGED
                ">
                <button
                  (click)="onDebugClicked(getResourceFromResourceRefs(serviceKind, pipeline.resourceRefs))"
                  fd-button
                  label="Toggle Debug Label"
                  glyph="cancel-maintenance"
                  fdType="transparent"
                  ariaLabel="Toggle Debug Label"
                  title="This will toggle the 'automaticd.sap/debug' label with your CDI-User so you can see the resource in your local debugger."
                  data-testid="debug-label-button"></button>
              </div>
              <button
                *ngIf="
                  debugModeService.debugModeEnabled() &&
                  getResourceStatusFromResourceRefs(serviceKind, pipeline.resourceRefs) ===
                    ServiceStatus.FAILING_CREATION
                "
                data-testid="retry-button"
                fd-button
                fdType="transparent"
                glyph="refresh"
                ariaLabel="Trigger Reconciliation"
                (click)="onRetryClicked(getResourceFromResourceRefs(serviceKind, pipeline.resourceRefs))"
                label="Retry"></button>
              <button
                *ngIf="serviceKind === kinds.GITHUB_ADVANCED_SECURITY && serviceUrls().get(serviceKind)"
                ariaLabel="Show Options"
                class="button-margin"
                fd-button
                fdType="transparent"
                glyph="overflow"
                [fdpMenuTriggerFor]="showOptionsMenu"></button>
              <!-- Using the deprecated fdp-menu instead of fd-menu because it
            fixes an issue with the menu items not closing after being clicked -->
              <fdp-menu #showOptionsMenu>
                <li fd-menu-item>
                  <a fd-menu-interactive (click)="deleteGHAS()">
                    <fd-menu-addon position="before" glyph="delete"></fd-menu-addon>
                    <span fd-menu-title>Delete Step</span>
                  </a>
                </li>
              </fdp-menu>
              <button
                *ngIf="serviceKind !== kinds.GITHUB_ADVANCED_SECURITY && serviceUrls().get(serviceKind)"
                class="open-service-button"
                fd-button
                fdType="emphasized"
                label="Open"
                (click)="openService(serviceKind)"
                ariaLabel="Open"></button>
              <button
                *ngIf="serviceKind === kinds.GITHUB_ADVANCED_SECURITY"
                [fdMenuTrigger]="menuShortcut"
                [fdMenu]="true"
                class="open-service-button"
                fd-button
                fdType="emphasized"
                label="Open"></button>
              <fd-menu #menuShortcut>
                <li fd-menu-item>
                  <a fd-menu-interactive (click)="openGHASScannnerResults()">
                    <span fd-menu-title>Show scanner results</span>
                  </a>
                </li>
                <li fd-menu-item>
                  <a fd-menu-interactive (click)="openGHASSettings()">
                    <span fd-menu-title>Open configuration in GitHub</span>
                  </a>
                </li>
              </fd-menu>
            </div>
          </div>
          <div class="service-meta">
            <fd-avatar
              size="s"
              [image]="getIcon(getExtensionClass(serviceKind))"
              [label]="getIcon(getExtensionClass(serviceKind)) ? '' : kindName[serviceKind]"
              [colorAccent]="getNeutralColorAccent()"></fd-avatar>
            <div *ngIf="getExtensionClass(serviceKind)?.provider" class="meta-info">
              <b>Provider</b>
              <span>{{ getExtensionClass(serviceKind).provider }}</span>
            </div>
            <div class="meta-info" *ngIf="getInstallationDate(serviceKind) as installDate">
              <b>Installed On</b>
              <span *ngIf="!serviceDetailsLoading() && !debugModeService.debugModeEnabled()">
                {{ installDate | date: 'MMM dd, yyyy' }}
              </span>
              <span *ngIf="!serviceDetailsLoading() && debugModeService.debugModeEnabled()">
                {{ installDate | date: 'long' : 'en-US' }}
              </span>
              <fd-skeleton *ngIf="serviceDetailsLoading()" width="85px" height="21px">
                <svg:rect x="0" y="8" width="85" height="8" rx="4"></svg:rect>
              </fd-skeleton>
            </div>
          </div>
          <div *ngIf="serviceSetupSuccessfully(serviceKind)">
            <fdp-icon-tab-bar class="tab-list">
              <fdp-icon-tab-bar-tab label="CI/CD" class="first-tab-padding">
                <div class="tab-margin" *ngIf="!serviceDetailsLoading()">
                  <ng-container [ngSwitch]="serviceKind">
                    <!-- Compliance Data Storage-->
                    <app-cumulus-service-details
                      *ngSwitchCase="kinds.CUMULUS_PIPELINE"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-cumulus-service-details>
                    <!-- Source Code Management-->
                    <app-github-service-details
                      *ngSwitchCase="kinds.GITHUB_REPOSITORY"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-github-service-details>
                    <!-- Orchestrator-->
                    <app-jenkins-service-details
                      *ngSwitchCase="kinds.JENKINS_PIPELINE"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-jenkins-service-details>
                    <app-github-actions-service-details
                      *ngSwitchCase="kinds.GITHUB_ACTION"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-github-actions-service-details>
                    <app-github-actions-service-details
                      *ngSwitchCase="kinds.GITHUB_ACTIONS_WORKFLOW"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-github-actions-service-details>
                    <app-azure-service-details
                      *ngSwitchCase="stepKeys.AZURE_DEV_OPS"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-azure-service-details>

                    <!-- Code Build-->
                    <app-piper-service-details
                      *ngSwitchCase="kinds.PIPER_CONFIG"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-piper-service-details>
                    <app-xmake-service-details
                      *ngSwitchCase="stepKeys.XMAKE"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-xmake-service-details>

                    <!-- Code Transportation-->
                    <app-staging-service-service-details
                      *ngSwitchCase="kinds.STAGING_SERVICE_CREDENTIAL"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-staging-service-service-details>

                    <app-cnb-service-details
                      *ngSwitchCase="stepKeys.CNB"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-cnb-service-details>
                    <app-common-repository-service-details
                      *ngSwitchCase="stepKeys.COMMON_REPOSITORY"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-common-repository-service-details>
                    <!-- Static Security Checks (in order!)-->
                    <app-github-advanced-security-service-details
                      *ngSwitchCase="kinds.GITHUB_ADVANCED_SECURITY"
                      [serviceDetails]="
                        serviceDetails().get(serviceKind)
                      "></app-github-advanced-security-service-details>
                    <app-cx-one-service-details
                      *ngSwitchCase="stepKeys.CX_ONE"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-cx-one-service-details>
                    <app-checkmarx-service-details
                      *ngSwitchCase="stepKeys.CHECKMARX"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-checkmarx-service-details>
                    <app-fortify-service-details
                      *ngSwitchCase="stepKeys.FORTIFY"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-fortify-service-details>

                    <!-- Static Code Checks -->
                    <app-sonar-service-details
                      *ngSwitchCase="kinds.SONAR_QUBE_PROJECT"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-sonar-service-details>

                    <!-- Open Source Checks -->
                    <app-open-source-compliance-details
                      *ngSwitchCase="kinds.OPEN_SOURCE_COMPLIANCE"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-open-source-compliance-details>
                    <app-whitesource-service-details
                      *ngSwitchCase="stepKeys.WHITE_SOURCE"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-whitesource-service-details>
                    <app-black-duck-service-details
                      *ngSwitchCase="stepKeys.BLACK_DUCK_HUB"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-black-duck-service-details>

                    <!-- Product Management System-->
                    <app-ppms-foss-service-details
                      *ngSwitchCase="stepKeys.PPMS_FOSS"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-ppms-foss-service-details>

                    <!-- Deployment -->
                    <app-kubernetes-service-details
                      *ngSwitchCase="stepKeys.KUBERNETES"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-kubernetes-service-details>
                    <app-cloud-foundry-service-details
                      *ngSwitchCase="stepKeys.CLOUD_FOUNDRY"
                      [pipelineID]="getPipelineId ? getPipelineId : undefined"
                      [serviceDetails]="serviceDetails().get(serviceKind)"></app-cloud-foundry-service-details>
                  </ng-container>
                </div>
                <div class="tab-margin">
                  <fd-skeleton width="350px" height="10rem" *ngIf="serviceDetailsLoading()">
                    <svg:rect x="0" y="10" width="250" height="16" rx="4"></svg:rect>
                    <svg:rect x="0" y="45" width="160" height="8" rx="4"></svg:rect>
                    <svg:rect x="0" y="65" width="160" height="8" rx="4"></svg:rect>
                    <svg:rect x="0" y="85" width="100" height="8" rx="4"></svg:rect>
                  </fd-skeleton>
                </div>
                <div class="tab-margin" *ngIf="debugModeService.debugModeEnabled()">
                  <h4 class="debug-service-details-heading">Service Details:</h4>
                  <pre class="hide-scrollbar service-details-json">{{ serviceDetails().get(serviceKind) | json }}</pre>
                </div>
              </fdp-icon-tab-bar-tab>
              <fdp-icon-tab-bar-tab
                label="Service Info"
                *ngIf="serviceKind !== stepKeys.KUBERNETES && serviceKind !== stepKeys.CLOUD_FOUNDRY">
                <div *ngIf="getExtensionClass(serviceKind) as extension" class="extension-info">
                  <div *ngIf="extension.displayName && extension.description">
                    <h3>What is {{ extension.displayName }}?</h3>
                    <p>{{ extension.description }}</p>
                  </div>
                  <div *ngIf="extension.documentation?.url">
                    <h3>Want to know more?</h3>
                    <a
                      *ngIf="extension.documentation?.url"
                      fd-link
                      href="{{ extension.documentation?.url }}"
                      target="_blank"
                      rel="noopener noreferrer">
                      Documentation
                    </a>
                  </div>
                  <div *ngIf="extension.preferredSupportChannels || extension.contacts">
                    <h3>How to get help?</h3>
                    <div>
                      <div *ngIf="extension.preferredSupportChannels" class="extension-support-option">
                        <span class="option-name">Channels:</span>
                        {{ ' ' }}
                        <span *ngFor="let channel of extension.preferredSupportChannels">
                          <a
                            *ngIf="channel.URL && channel.displayName"
                            fd-link
                            href="{{ channel.URL }}"
                            target="_blank"
                            rel="noopener noreferrer">
                            {{ channel.displayName + getComma(channel, extension.preferredSupportChannels) }}
                          </a>
                        </span>
                      </div>
                      <div *ngIf="extension.contacts" class="extension-support-option">
                        <span class="option-name">Contacts:</span>
                        {{ ' ' }}
                        <span *ngFor="let contact of extension.contacts">
                          <a *ngIf="contact.displayName" fd-link href="{{ getMailLink(contact.email) }}">
                            {{ contact.displayName }}
                            <!-- prettier-ignore -->
                            <span *ngIf='contact.role'>{{ '(' }}<span
                              *ngFor='let role of contact.role'>{{ role + getComma(role, contact.role) }}</span>{{ ')' + getComma(contact, extension.contacts) }}</span>
                          </a>
                        </span>
                      </div>
                      <div *ngIf="extension.serviceLevel" class="extension-support-option">
                        <span class="option-name">Service Level:</span>
                        {{ ' ' }}
                        {{ getServiceLevel(extension.serviceLevel) }}
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!getExtensionClass(serviceKind)" class="service-info">
                  <div class="service-info-flexbox">
                    <img src="./assets/notFoundPage.svg" class="service-info-image" alt="not found" />
                    <h2>Uh oh. Couldn't find service details.</h2>
                    <span *ngIf="dxpContext$ | async as context">
                      We weren't able to load more details about this service. Please let us know by
                      <a
                        [href]="missingServiceDetailsTicketUrl(serviceKind, context)"
                        target="_blank"
                        rel="noopener noreferrer"
                        fd-link>
                        creating a ticket.
                      </a>
                      For now, you can try searching the
                      <a [href]="catalogUrl()" target="_blank" rel="noopener noreferrer" fd-link>Hyperspace Catalog.</a>
                      You may find more information on the {{ kindName[serviceKind] }} service there.
                    </span>
                  </div>
                </div>
                <div *ngIf="debugModeService.debugModeEnabled()">
                  <h4 class="debug-service-details-heading">Raw Extension Info:</h4>
                  <pre class="hide-scrollbar service-details-json">{{ getExtensionClass(serviceKind) | json }}</pre>
                </div>
              </fdp-icon-tab-bar-tab>
            </fdp-icon-tab-bar>
          </div>
        </fd-card-content>
      </fd-card>
    </div>
  </ng-container>
</div>
