<fd-dialog>
  <fd-dialog-header>
    <h1 id="fd-dialog-header-1" fd-title>
      {{ dialogRef.data.title }}
    </h1>
    <button fd-dialog-close-button (click)="dialogRef.dismiss()" title="close"></button>
  </fd-dialog-header>

  <fd-dialog-body>
    <div id="fd-dialog-body-1" role="dialog" class="dialogbody">
      <div class="singlestep mb1">
        <div class="steppercircle inactive">1</div>
        <div class="steppercontent">
          <div class="stepheader">Create component (prerequisite)</div>
          <div>
            You’ll need to create a component to set up a CI/CD pipeline or service. This will connect your GitHub
            repository for you to start.
          </div>
        </div>
      </div>
      <div class="singlestep">
        <div class="steppercircle inactive">2</div>
        <div class="steppercontent">
          <div class="stepheader">Set up CI/CD in your component</div>
          <div>Select a component to navigate to the CI/CD page</div>
        </div>
      </div>
    </div>
  </fd-dialog-body>

  <fd-dialog-footer>
    <fd-button-bar
      label="Continue"
      fdCompact
      fdType="emphasized"
      (click)="navigateToComponents()"
      ariaLabel="Emphasized"></fd-button-bar>
    <fd-button-bar label="Cancel" fdCompact (click)="dialogRef.dismiss()" ariaLabel="Cancel"></fd-button-bar>
  </fd-dialog-footer>
</fd-dialog>
