<ul fd-list [byline]="true" [noBorder]="true">
  <li fd-list-item class="list-item-border">
    <a fd-list-link (click)="onDetailsOpened()" [attr.data-testid]="testId">
      <span fd-list-thumbnail class="list-item-icon">
        <app-status-icon [statusIconConfig]="statusIconConfig"></app-status-icon>
      </span>
      <div class="category-container">
        <div class="category-name">
          <div class="name-and-label">
            <div class="flex-container">
              <strong>{{ category }}</strong>
              <fd-icon
                *ngIf="infoIconConfig && infoIconConfig.isIconShown"
                class="icon"
                glyph="hint"
                [fd-inline-help]="infoIconConfig.iconInlineHelpText"
                [disabled]="!infoIconConfig.iconInlineHelpText"></fd-icon>
            </div>
            <fd-info-label
              class="info-label"
              *ngIf="statusTagConfig && statusTagConfig.isStatusTagShown"
              [label]="statusTagConfig.statusTagText"
              [color]="statusTagConfig?.statusTagBackgroundColor || neutralColor"
              [fd-inline-help]="statusTagConfig.statusTagInlineHelpText"
              [disabled]="!statusTagConfig.statusTagInlineHelpText"></fd-info-label>
          </div>
          <div *ngIf="configuredServicesText" class="category-details">
            <span *ngIf="isServiceDetailOpen">{{ configuredServicesText | truncate: 28 }}</span>
            <span *ngIf="!isServiceDetailOpen">{{ configuredServicesText }}</span>
            <code class="debug-details" *ngIf="debugModeConfig.isDebugModeEnabled">
              {{ debugModeConfig.debugModeText }}
            </code>
          </div>
        </div>
      </div>

      <div class="padding-right flex-container">
        <span
          *ngIf="rightSideTextConfig && rightSideTextConfig.rightSideText && !isServiceDetailOpen"
          [fd-inline-help]="rightSideTextConfig.rightSideTextInlineHelpText"
          [disabled]="!rightSideTextConfig.rightSideTextInlineHelpText"
          class="status-text">
          {{ rightSideTextConfig.rightSideText }}
        </span>
        <div *dxpRequiredPolicies="['member', 'owner', 'vault_maintainer']; operator: 'or'">
          <button
            *ngIf="isAddButtonVisible && !isServiceDetailOpen"
            [ariaLabel]="buttonConfig.buttonText"
            fd-button
            [attr.data-testid]="buttonConfig.buttonTestId"
            [label]="buttonConfig.buttonText"
            [fdType]="buttonConfig.buttonType || null"
            (click)="buttonConfig.buttonAction($event)"></button>
          <button
            *ngIf="buttonConfig && buttonConfig.isButtonDisabled && !isServiceDetailOpen"
            [aria-disabled]="buttonConfig.isButtonDisabled"
            [fd-inline-help]="buttonConfig.disabledButtonInlineHelpText"
            [attr.data-testid]="buttonConfig.buttonTestId"
            [ariaLabel]="buttonConfig.buttonText"
            fd-button
            [label]="buttonConfig.buttonText"></button>
        </div>
      </div>
      <fd-icon *ngIf="isOpenArrowShown" glyph="slim-arrow-right" class="details-icon"></fd-icon>
    </a>
  </li>
</ul>
