<ul fd-list [byline]="true" [noBorder]="true">
  <li fd-list-item class="list-item-border">
    <a fd-list-link (click)="onDetailsOpened()">
      <span fd-list-thumbnail class="list-item-icon">
        <ng-container *ngIf="statusIconConfig && statusIconConfig.statusIconType === serviceStatus.CREATED">
          <span fd-object-status class="status-icon" size="m" [glyph]="'status-completed'" status="positive"></span>
        </ng-container>
        <fd-busy-indicator
          [loading]="true"
          *ngIf="
            statusIconConfig &&
            (statusIconConfig.statusIconType === serviceStatus.PENDING_CREATION ||
              statusIconConfig.statusIconType === serviceStatus.UN_KNOWN)
          "
          ariaLabel="loading"
          size="s"
          title="Please Wait"></fd-busy-indicator>
        <span
          fd-object-status
          class="status-icon"
          *ngIf="statusIconConfig && statusIconConfig.statusIconType === serviceStatus.FAILING_CREATION"
          status="negative"
          glyph="message-error"></span>
        <fd-icon
          [title]="statusIconConfig.statusIconInlineHelpText || null"
          *ngIf="statusIconConfig && statusIconConfig.statusIconType === serviceStatus.NOT_MANAGED"
          glyph="question-mark"
          class="status-icon"></fd-icon>
        <span
          fd-object-status
          class="status-icon"
          *ngIf="statusIconConfig && statusIconConfig.statusIconType === serviceStatus.NOT_FOUND"
          glyph="circle-task"></span>
      </span>
      <div class="category-container">
        <div class="category-name">
          <div>
            <strong>{{ category }}</strong>
            <fd-icon
              *ngIf="infoIconConfig && infoIconConfig.isIconShown"
              class="icon"
              glyph="hint"
              [fd-inline-help]="infoIconConfig.iconInlineHelpText || null"></fd-icon>
          </div>
          <div *ngIf="configuredServicesText" class="category-details">
            <span *ngIf="isServiceDetailOpen">{{ configuredServicesText | truncate: 28 }}</span>
            <span *ngIf="!isServiceDetailOpen">{{ configuredServicesText }}</span>
            <code class="debug-details" *ngIf="debugModeConfig.isDebugModeEnabled">
              {{ debugModeConfig.debugModeText }}
            </code>
          </div>
        </div>

        <fd-info-label
          class="info-label"
          *ngIf="statusTagConfig && statusTagConfig.isStatusTagShown"
          [label]="statusTagConfig.statusTagText"
          [color]="10"
          data-testid="not-managed-info-label"></fd-info-label>
      </div>

      <div class="padding-right flex-container">
        <span *ngIf="rightSideText && !isServiceDetailOpen" class="status-text">{{ rightSideText }}</span>
        <div *dxpRequiredPolicies="['member', 'owner', 'vault_maintainer']; operator: 'or'">
          <button
            *ngIf="isAddButtonVisible && !isServiceDetailOpen"
            [ariaLabel]="buttonConfig.buttonText"
            fd-button
            [attr.data-testid]="buttonConfig.buttonTestId"
            [label]="buttonConfig.buttonText"
            (click)="buttonConfig.buttonAction()"></button>
          <button
            *ngIf="buttonConfig && buttonConfig.isButtonDisabled && !isServiceDetailOpen"
            [aria-disabled]="buttonConfig.isButtonDisabled"
            [fd-inline-help]="buttonConfig.disabledButtonInlineHelpText"
            [attr.data-testid]="buttonConfig.buttonTestId"
            [ariaLabel]="buttonConfig.buttonText"
            fd-button
            [label]="buttonConfig.buttonText"></button>
        </div>
      </div>
      <fd-icon *ngIf="isOpenArrowShown" glyph="slim-arrow-right" class="details-icon"></fd-icon>
    </a>
  </li>
</ul>
