.busy-indicator {
  text-align: center;
  margin-top: 5rem;
}

.form-margins {
  margin-bottom: 4rem;
}

.actions-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-buttons-gap {
  gap: 0.5rem;
}

#message-popover {
  --sapButton_TextColor: var(--sapButton_Negative_TextColor);
  --sapButton_BorderColor: var(--sapButton_Negative_Background);
  --sapButton_Background: var(--sapButton_Negative_BorderColor);
}

:host ::ng-deep .fd-container.fd-form-layout-grid-container fdp-dynamic-form-generator-radio .fd-form-group--inline .fd-form-item {
  margin-top: 0;
}
