<div *ngIf="!loading()">
  <div class="content">
    <div class="main">
      <div class="fields">
        <div class="field">
          <div class="field-title">Enabled for GitHub Repository</div>
          <a
            [href]="serviceDetails.repoUrl"
            class="field-value--link"
            fd-link
            rel="noopener noreferrer"
            target="_blank">
            {{ serviceDetails.githubOrganization }}/{{ serviceDetails.githubRepoName }}
          </a>
        </div>
        <div class="field">
          <div class="field-title">Runs On:</div>
          <span class="field-value">GitHub Actions</span>
        </div>
      </div>
      <button
        (click)="openDocumentation()"
        class="auto-left-margin"
        fd-button
        fdType="transparent"
        glyph="question-mark"
        label="Learn More"></button>
    </div>
    <div>
      <div class="divider"></div>
      <h3>Get started with GitHub Advanced Security</h3>
      <ul class="no-margin">
        <li>
          <a [href]="AUDIT_FINDINGS_DOCU_LINK" rel="noopener noreferrer" target="_blank">
            Learn which findings to audit
          </a>
        </li>
        <li>
          <a [href]="ADD_SCAN_PROJECT_SIRIUS_DOCU_LINK" rel="noopener noreferrer" target="_blank">Add your results</a>
          as a Scan Project in Sirius
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="loading()">
  <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
</div>
