.setup-validation-margin {
  margin: 1rem 1rem 0 1rem;
}

.headline {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
}

.service-headline {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.flexbox {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-bottom: 16px;
}

.select-a-service-box {
  margin-bottom: 16px;
}

.credential-headline {
  font-family: var(--sapFontFamily);
  color: var(--sapField_TextColor);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding-top: 16px;
}

.select-box {
  width: 30rem;
}
.validation-language-content {
  font-family: var(--sapFontFamily);
  font-size: var(--sapFontSize);
  color: var(--sapField_TextColor);
}

.recommendation-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.separator {
  width: 560px;
  height: 1px;
  background: #d9d9d9;
}
.cx-one-not-available-message {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.centered-text {
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
}

.footer-buttons-gap {
  gap: 0.5rem;
}

.actions-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.code {
  font-family: 'Courier New', monospace;
  white-space: nowrap;
  display: inline;
}

.message-strip-container {
  margin: 16px 16px 0 0;
}
