.setup-build-margin {
  margin: 1rem 2rem;
}

.busy-indicator {
  text-align: center;
  margin-top: 5rem;
}

.form-margins {
  margin-bottom: 4rem;
  max-width: 40rem;
}

.actions-footer {
  position: fixed;
  margin: 1rem;
}

.footer-buttons-gap {
  gap: 0.5rem;
}

.message-popover-colors {
  .fd-button {
    --fdButtonColor: var(--sapButton_Negative_TextColor);
    --fdButtonBackgroundColor: var(--sapButton_Negative_Background);
    --fdButtonBorderColor: var(--sapButton_Negative_BorderColor);
  }
}
