.setup-build-margin {
  margin: 1rem 2rem;
}

.busy-indicator {
  text-align: center;
  margin-top: 5rem;
}

.form-margins {
  margin-bottom: 4rem;
  max-width: 40rem;
}

.actions-footer {
  position: fixed;
  margin: 1rem;
}

.footer-buttons-gap {
  gap: 0.5rem;
}
