<div class="setup-build-margin">
  <error-message
    title="Setup build could not be completed"
    [message]="errorMessage()"
    (onDismiss)="dismissErrorMessage()"
    *ngIf="errorMessage()"></error-message>
  <div class="busy-indicator" *ngIf="loading">
    <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
  </div>
  <div class="form-margins">
    <fdp-form-generator
      *ngIf="!loading"
      [formItems]="questions"
      (formSubmitted)="onFormSubmitted($event)"
      (formCreated)="onFormCreated()"></fdp-form-generator>
  </div>
  <div fd-bar barDesign="floating-footer" class="actions-footer">
    <div fd-bar-right class="footer-buttons-gap">
      <fdp-button
        *ngIf="formCreated"
        (click)="submitForm()"
        [disabled]="loading"
        type="submit"
        buttonType="emphasized"
        label="Setup Build"></fdp-button>
      <fdp-button
        *ngIf="formCreated"
        buttonType="transparent"
        [disabled]="loading"
        label="Cancel"
        (click)="cancel()"></fdp-button>
    </div>
  </div>
</div>
