<div>
  <app-error-message
    title="Opening Vault Failed"
    [message]="errorMessage()"
    (byDismiss)="dismissErrorMessage()"
    *ngIf="errorMessage()"></app-error-message>
  <div class="flex-box">
    <h3 class="bottom-margin">Enabled for GitHub Organization</h3>
    <button
      class="auto-left-margin"
      role="button"
      glyph="question-mark"
      label="Learn More"
      fdType="transparent"
      (click)="openDocumentation()"
      fd-button></button>
  </div>
  <a [href]="githubOrganizationUrl" target="_blank">
    {{ serviceDetails.githubOrganization }}
  </a>
  <ng-container *ngIf="responsibleProjectUrl()">
    <div class="flex-box top-margin">
      <h3 class="heading-margin">Responsible Project</h3>
      <button
        class="left-margin"
        role="button"
        fdType="transparent"
        glyph="hint"
        fd-button
        placement="top"
        [fd-inline-help]="responsibleProjectHelp"
        [triggers]="['click']"
        [closeOnOutsideClick]="true"></button>
    </div>
    <a [href]="responsibleProjectUrl()" target="_blank">{{ serviceDetails.responsibleProject }}</a>
  </ng-container>
  <div class="flex-box top-margin">
    <h3 class="heading-margin">SUGAR Customer ID</h3>
    <button
      class="left-margin"
      role="button"
      fdType="transparent"
      glyph="hint"
      fd-button
      placement="top"
      [fd-inline-help]="sugarServiceHelp"
      [triggers]="['click']"
      [closeOnOutsideClick]="true"></button>
  </div>
  <div>{{ serviceDetails.solinasCustomerID }}</div>
  <div *dxpRequiredPolicies="'member'">
    <a [href]="githubActionsRunnerGroupUrl" target="_blank">Open Runners Group</a>
    <div class="flex-box top-margin">
      <h3>GitHub Actions Credentials</h3>
    </div>
    <div>
      <b>Vault Path</b>
    </div>
    <fd-busy-indicator [loading]="pendingShowInVault()" size="s">
      <div [fd-inline-help]="insufficientVaultPermissions" [disabled]="isUserVaultMaintainer">
        <a
          fd-link
          [disabled]="pendingShowInVault() || !isUserVaultMaintainer"
          (click)="showInVault(serviceDetails.secretPath)">
          {{ serviceDetails.secretPath }}
        </a>
      </div>
    </fd-busy-indicator>
  </div>
  <div class="divider"></div>
  <h3 class="get-started-heading">Get started with GitHub Actions</h3>
  <fd-message-strip
    type="warning"
    class="bottom-margin"
    *ngIf="showActionsGetStartedWarning()"
    (onDismiss)="storeDismissInLocalStorage()">
    Be sure to
    <a [href]="ACTIONS_GET_STARTED_URL" target="_blank">
      <b>read our get started guide</b>
    </a>
    and
    <a [href]="ACTIONS_SECURITY_HARDENING_URL" target="_blank">
      <b>check the security hardening guidelines.</b>
    </a>
  </fd-message-strip>
  <ul class="get-started-list">
    <li>
      <a [href]="ACTIONS_GET_STARTED_URL" target="_blank">Read our get started guide</a>
      to get the best out of GitHub Actions
    </li>
    <li>
      <a [href]="ACTIONS_SECURITY_HARDENING_URL" target="_blank">Check security hardening guidelines</a>
      to ensure compliant use of GitHub Actions
    </li>
    <li>
      <a [href]="ACTIONS_CATALOG_URL" target="_blank">Open catalog</a>
      to find all allowed Actions at SAP
    </li>
    <li>
      <a [href]="SUGAR_DOCU_URL" target="_blank">Learn about SUGAR</a>
      to understand our GitHub Actions runners provider
    </li>
  </ul>
</div>
<ng-template #sugarServiceHelp>
  <div>
    The
    <a [href]="SUGAR_DOCU_URL" target="_blank">SUGAR</a>
    service creates a GitHub Actions Runner Group in your GitHub Organization.
  </div>
</ng-template>
<ng-template #responsibleProjectHelp>
  <div>The project which initially enabled GitHub Actions for the GitHub organization your component lives in.</div>
</ng-template>

<ng-template #insufficientVaultPermissions>
  You need to be 'Vault Maintainer' to see credentials.
  <br />
  Go to the members list to contact a project owner.
</ng-template>
