<div>
  <app-error-message
    title="Opening Vault Failed"
    [message]="errorMessage()"
    (byDismiss)="dismissErrorMessage()"
    *ngIf="errorMessage()"></app-error-message>
  <div class="flex-box">
    <div class="flex-box">
      <h3 class="heading-margin">Enabled for GitHub Organization</h3>
    </div>
    <button
      class="auto-left-margin"
      role="button"
      glyph="question-mark"
      label="Learn More"
      fdType="transparent"
      (click)="openDocumentation()"
      fd-button></button>
  </div>
  <a *ngIf="githubOrganizationUrl()" [href]="githubOrganizationUrl()" target="_blank" rel="noopener noreferrer">
    {{ serviceDetails.githubOrgName }}
  </a>
  <span *ngIf="!githubOrganizationUrl()">
    {{ serviceDetails.githubOrgName }}
  </span>
  <div *dxpRequiredPolicies="['member', 'owner', 'vault_maintainer']; operator: 'or'">
    <div class="flex-box" *ngIf="githubActionsRunnerGroupUrl()">
      <h3 class="heading-margin">SUGAR Runners</h3>
      <button
        class="left-margin"
        role="button"
        fdType="transparent"
        glyph="hint"
        fd-button
        placement="top"
        [fd-inline-help]="sugarServiceHelp"
        [triggers]="['click']"
        [closeOnOutsideClick]="true"></button>
    </div>
    <a [href]="githubActionsRunnerGroupUrl()" target="_blank" rel="noopener noreferrer">Open Runners Group</a>
  </div>
  <div class="divider"></div>
  <h3 class="get-started-heading">Get started with GitHub Actions</h3>
  <fd-message-strip
    type="warning"
    class="bottom-margin"
    *ngIf="showActionsGetStartedWarning()"
    (onDismiss)="storeDismissInLocalStorage()">
    Be sure to
    <a [href]="ACTIONS_GET_STARTED_URL" target="_blank" rel="noopener noreferrer">
      <b>read our get started guide</b>
    </a>
    and
    <a [href]="ACTIONS_SECURITY_HARDENING_URL" target="_blank" rel="noopener noreferrer">
      <b>check the security hardening guidelines.</b>
    </a>
  </fd-message-strip>
  <ul class="get-started-list">
    <li>
      <a [href]="ACTIONS_GET_STARTED_URL" target="_blank" rel="noopener noreferrer">Read our get started guide</a>
      to get the best out of GitHub Actions
    </li>
    <li>
      <a [href]="ACTIONS_SECURITY_HARDENING_URL" target="_blank" rel="noopener noreferrer">
        Check security hardening guidelines
      </a>
      to ensure compliant use of GitHub Actions
    </li>
    <li>
      <a [href]="ACTIONS_CATALOG_URL" target="_blank" rel="noopener noreferrer">Open catalog</a>
      to find all allowed Actions at SAP
    </li>
    <li>
      <a [href]="SUGAR_DOCU_URL" target="_blank" rel="noopener noreferrer">Learn about SUGAR</a>
      to understand our GitHub Actions runners provider
    </li>
  </ul>
</div>
<ng-template #sugarServiceHelp>
  <div>
    The
    <a [href]="SUGAR_DOCU_URL" target="_blank" rel="noopener noreferrer">SUGAR</a>
    service creates a GitHub Actions Runner Group in your GitHub Organization.
  </div>
</ng-template>
