a {
  color: var(--sapLinkColor);
  text-decoration: none;
}

.flex-box {
  display: flex;
  align-items: center;
}

.top-margin {
  margin-top: 1rem;
}

.left-margin {
  margin-left: 0.4rem;
}

.auto-left-margin {
  margin-left: auto;
}

.vault-button-padding {
  padding: 0;
}

.divider {
  border-top: 1px solid var(--sapNeutralBorderColor);
  width: 100%;
  margin: 1.2rem 0;
}

.get-started-heading {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.get-started-list {
  margin: 0;
}
