<div>
  <div class="flex-box">
    <h3 class="heading-margin">Mend</h3>
    <button
      class="auto-left-margin"
      role="button"
      fdType="transparent"
      glyph="question-mark"
      label="Learn More"
      (click)="openDocumentation()"
      fd-button></button>
  </div>

  <a [href]="serviceDetails.productUrl" target="_blank" rel="noopener noreferrer">
    {{ serviceDetails.productName }}
  </a>

  <div class="flex-box">
    <h3 class="heading-margin">Mend Service User Name</h3>
  </div>

  <p class="p-tag-remove-margin">{{ serviceDetails.serviceUserName }}</p>

  <div class="flex-box">
    <h3 class="heading-margin">Mend Service User Email</h3>
  </div>

  <p class="p-tag-remove-margin">{{ serviceDetails.serviceUserEmail }}</p>
</div>
