<fdp-dynamic-page ariaLabel="Example Dynamic Page">
  <fdp-dynamic-page-content id="basic">
    <div *ngIf="watch$ | async as watch; else loading" class="home-page-content">
      <fd-card cardType="linkList">
        <fd-card-content class="header">
          <h1 class="header-text"><strong>CI/CD</strong></h1>
        </fd-card-content>
      </fd-card>
      <app-start
        [pipeline$]="watch$"
        *ngIf="
          watch.pipelineType != pipelineType.FULL_PIPELINE && watch.pipelineType != pipelineType.SINGLE_SERVICE
        "></app-start>
      <app-pipeline [pipeline$]="watch$" *ngIf="watch.pipelineType == pipelineType.FULL_PIPELINE"></app-pipeline>
      <app-single-services
        [pipeline$]="watch$"
        *ngIf="watch.pipelineType == pipelineType.SINGLE_SERVICE"></app-single-services>
    </div>
    <ng-template #loading>
      <div class="busy-indicator">
        <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
      </div>
    </ng-template>
  </fdp-dynamic-page-content>
</fdp-dynamic-page>
