@if (!loading()) {
  @if ((pipelineAvail | async) && githubMetadataPresent() && isGhToolsOrGhWdf()) {
    <div>
      <ng-container>
        <app-pipeline [pipeline$]="watch$"></app-pipeline>
      </ng-container>
    </div>
  } @else if (!githubMetadataPresent() && isAppInitialized()) {
    <div class="unable-to-load-message">
      <img src="./assets/notFoundPage.svg" alt="Cards with a question mark" width="300px" />
      <figure fd-illustrated-message [noSvg]="true" type="spot">
        <figcaption fd-illustrated-message-figcaption id="not-found-description">
          <h3 fd-illustrated-message-title>Unable to load CI/CD Setup</h3>
          <p fd-illustrated-message-text>Could not retrieve GitHub information for your component.</p>
        </figcaption>
      </figure>
    </div>
  } @else if (!isGhToolsOrGhWdf() && isAppInitialized()) {
    <div class="unable-to-load-message">
      <img src="./assets/errorPage.svg" alt="Cards with error" width="300px" />
      <figure fd-illustrated-message [noSvg]="true" type="spot">
        <figcaption fd-illustrated-message-figcaption id="not-found-description">
          <h3 fd-illustrated-message-title>CI/CD Setup not supported for component</h3>
          <p fd-illustrated-message-text>
            Only components with repositories hosted on github.tools.sap or github.wdf.sap.corp are supported for the
            CI/CD Setup. The repository for this component is hosted on {{ githubMeta?.githubHostName }}.
          </p>
        </figcaption>
      </figure>
    </div>
  } @else if (!isAppInitialized()) {
    <div class="unable-to-load-message">
      <img src="./assets/unableToLoad.svg" alt="Cards with red cross" width="300px" />
      <figure fd-illustrated-message [noSvg]="true" type="spot">
        <figcaption fd-illustrated-message-figcaption id="not-found-description">
          <h3 fd-illustrated-message-title>Unable to connect to server</h3>
          <p fd-illustrated-message-text>Please try again later</p>
        </figcaption>
      </figure>
    </div>
  } @else {
    <div class="unable-to-load-message">
      <img src="./assets/notFoundPage-large.svg" alt="Cards with a question mark" width="300px" />
      <figure fd-illustrated-message [noSvg]="true" type="spot">
        <figcaption fd-illustrated-message-figcaption id="not-found-description">
          <h3 fd-illustrated-message-title>Failed to load CI/CD Setup</h3>
          <p fd-illustrated-message-text>Please try again later</p>
        </figcaption>
      </figure>
    </div>
  }
} @else {
  <div class="busy-indicator">
    <fd-busy-indicator [loading]="loading()" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
  </div>
}
