.busy-indicator {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-content {
  padding-bottom: 0;
  overflow: hidden;
}

.unable-to-load-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.card-footer {
  margin: 0 auto;
}
