<fdp-dynamic-page ariaLabel="CI/CD Dynamic Page">
  <fdp-dynamic-page-content id="basic">
    <div *ngIf="pipelineAvail | async; else loading" class="home-page-content">
      <ng-container>
        <app-pipeline [pipeline$]="watch$"></app-pipeline>
      </ng-container>
    </div>
    <ng-template #loading>
      <div class="busy-indicator">
        <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
      </div>
    </ng-template>
  </fdp-dynamic-page-content>
</fdp-dynamic-page>
