<div *ngIf="!loading()">
  <div class="flex-box">
    <div>
      <h3>Enabled for GitHub Repository</h3>
      <a [href]="serviceDetails.repoUrl" fd-link rel="noopener noreferrer" target="_blank" rel="noopener noreferrer">
        {{ serviceDetails.githubOrganization }}/{{ serviceDetails.githubRepoName }}
      </a>
    </div>

    <button
      role="button"
      class="auto-left-margin"
      glyph="question-mark"
      label="Learn More"
      fdType="transparent"
      fd-button
      (click)="openDocumentation()"></button>
  </div>
  <div *dxpRequiredPolicies="['member', 'owner', 'vault_maintainer']; operator: 'or'">
    <div *ngIf="cumulusInfo && cumulusInfo.id">
      <h3>Cumulus Pipeline</h3>
      <div class="flex-box">
        <strong>Pipeline ID</strong>
        <fd-icon
          class="icon left-margin"
          glyph="hint"
          placement="top"
          [fd-inline-help]="pipelineIdPopover"
          [triggers]="['click']"
          [closeOnOutsideClick]="true"></fd-icon>
        <ng-template #pipelineIdPopover>
          <div>
            Use this ID to
            <a
              class="link"
              href="https://github.wdf.sap.corp/pages/ContinuousDelivery/piper-doc/steps/sapCumulusUpload/"
              rel="noopener noreferrer"
              target="_blank"
              rel="noopener noreferrer">
              upload your pipeline's results
            </a>
            <br />
            using the sapCumulusUpload Piper step
          </div>
        </ng-template>
      </div>
      {{ cumulusInfo.id }}
      <div style="margin-top: 1rem">
        <span>
          <em>
            Don't have a Build Pipeline set up in the Hyperspace Portal, but you're using Cumulus?
            <br />
            <a
              href="https://pages.github.tools.sap/hyperspace/cicd-setup-documentation/connected-tools/validate/ghas.html#enabling-github-advanced-security-without-a-build-pipeline"
              fd-link
              rel="noopener noreferrer"
              target="_blank"
              rel="noopener noreferrer">
              See how to choose the right Pipeline ID
            </a>
          </em>
        </span>
      </div>
    </div>
    <ng-template [dxpRequiredPolicies]="['member', 'owner', 'vault_maintainer']" [dxpRequiredPoliciesOperator]="'or'">
      <div *ngIf="githubSecret">
        <h3>GitHub Credentials</h3>
        <div>
          <strong>Vault Path</strong>
        </div>
        <fd-busy-indicator [loading]="pendingShowInVault()" size="s">
          <div [fd-inline-help]="insufficientVaultPermissions" [disabled]="canUserEditCredentials">
            <a
              (click)="showInVault(githubSecret.path)"
              [disabled]="pendingShowInVault() || !canUserEditCredentials"
              fd-link>
              {{ githubSecret.path }}
            </a>
          </div>
        </fd-busy-indicator>
      </div>
    </ng-template>
    <div class="divider"></div>
    <h3>Get started with GitHub Advanced Security</h3>
    <ul class="no-margin">
      <li>
        <a [href]="AUDIT_FINDINGS_DOCU_LINK" target="_blank" rel="noopener noreferrer">Learn which findings to audit</a>
      </li>
      <li>
        <a [href]="ADD_SCAN_PROJECT_SIRIUS_DOCU_LINK" target="_blank" rel="noopener noreferrer">Add your results</a>
        as a Scan Project in Sirius
      </li>
      <li>
        <a [href]="GITHUB_ACTIONS_DOCU_LINK" target="_blank" rel="noopener noreferrer">Use GitHub Advanced Security</a>
        with GitHub Actions
      </li>
    </ul>
  </div>
</div>
<div *ngIf="loading()">
  <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
</div>

<ng-template #insufficientVaultPermissions>
  You need to be 'Vault Maintainer' to see credentials.
  <br />
  Go to the members list to contact a project owner.
</ng-template>
