<div *ngIf="!loading()">
  <div class="flex-box">
    <h3 class="heading-margin">Instance</h3>
    <button
      class="left-margin"
      role="button"
      fdType="transparent"
      glyph="hint"
      fd-button
      placement="top"
      [fd-inline-help]="instanceHelp"
      [triggers]="['click']"
      [closeOnOutsideClick]="true"></button>
    <button
      class="auto-left-margin"
      role="button"
      glyph="question-mark"
      label="Learn More"
      fdType="transparent"
      (click)="openDocumentation()"
      fd-button></button>
  </div>
  {{ serviceDetails.url }}
  <div class="flex-box top-margin">
    <h3 class="heading-margin">Profile Name</h3>
    <button
      class="left-margin"
      role="button"
      fdType="transparent"
      glyph="hint"
      fd-button
      placement="top"
      [fd-inline-help]="profileHelp"
      [triggers]="['click']"
      [closeOnOutsideClick]="true"></button>
    <br />
  </div>
  {{ serviceDetails.profileName }}
  <div *dxpRequiredPolicies="['member', 'owner', 'vault_maintainer']; operator: 'or'">
    <div class="flex-box top-margin">
      <h3>Staging Service Credentials</h3>
      <button
        class="left-margin"
        role="button"
        fdType="transparent"
        glyph="hint"
        fd-button
        placement="top"
        [fd-inline-help]="credentialsHelp"
        [triggers]="['click']"
        [closeOnOutsideClick]="true"></button>
      <br />
    </div>
    <div>
      <b>Vault Path</b>
    </div>
    <fd-busy-indicator [loading]="pendingShowInVault()" size="s">
      <div [fd-inline-help]="insufficientVaultPermissions" [disabled]="canUserEditCredentials">
        <a
          fd-link
          [disabled]="pendingShowInVault() || !canUserEditCredentials"
          (click)="showInVault(serviceDetails.secretPath)">
          {{ serviceDetails.secretPath }}
        </a>
      </div>
    </fd-busy-indicator>
  </div>
</div>
<div *ngIf="loading()">
  <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
</div>

<ng-template #instanceHelp>
  <div>The Staging Service instance your artefacts will be pushed to.</div>
</ng-template>

<ng-template #profileHelp>
  <div>
    The name of the Staging Service profile we created for you.
    <br />
    Staging Service profiles are created per Hyperspace Portal project.
  </div>
</ng-template>

<ng-template #credentialsHelp>
  <div>
    During a run, your pipeline uses these credentials to access the Staging Service.
    <br />
    We created them for you and stored them with your other credentials in Vault.
  </div>
</ng-template>

<ng-template #insufficientVaultPermissions>
  You need to be 'Vault Maintainer' to see credentials.
  <br />
  Go to the members list to contact a project owner.
</ng-template>
