@import '~@angular/cdk/a11y-prebuilt.css';

/* Add SAP-fonts required by SAP Fundamental Styles */
@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Bold-full.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: '72';
  src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* Reset for body element */
body {
  margin: 0;
}

/* Tweaks for fdx form-generator */
fdp-form-generator {
  .fd-container.fd-form-layout-grid-container.fd-form-layout-grid-container {
    /* Make radio buttons outline fully visible */
    .fd-row .fd-col {
      overflow: visible;
    }

    .fd-form-group .fd-row.fd-form-item:nth-child(2) {
      /* Remove margin of the 1st form generator element */
      margin-top: 0;
    }

    fdp-dynamic-form-generator-radio {
      .fd-form-group--inline .fd-form-item {
        /* Fix form generator bug when radio buttons become misaligned in inline mode */
        margin-top: 0;
      }

      .fd-form-group .fd-form-item {
        /* Remove excessive radio buttons' margins */
        margin-top: 0;
        /* 
					Make radio buttons aligned with other form generator elements.
					By default they are moved slightly to the right
				*/
        margin-left: -0.5rem;
      }
    }

    fdp-dynamic-form-generator-checkbox {
      .fd-form-group .fd-form-item {
        /* 
					Make checkboxes aligned with other form generator elements.
					By default they are moved slightly to the right
				*/
        margin-left: -0.5rem;
      }
    }

    fdp-dynamic-form-generator-select fd-select {
      /* Make select span the entire row */
      width: 100%;
    }
  }
}
