.busy-indicator {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 0;
}


.link {
  color: var(--sapLink_Active_Color);
  text-decoration: none;
}

.icon-padding {
  padding-right: 1rem;
}

.remove-top-margin {
  margin-top: 0;
}

.icon {
  color: var(--sapNeutralColor);
  cursor: pointer;
}

.storage-token-text-padding {
  padding-right: 2rem;
}
.documentation-button {
  position: absolute;
  bottom: 32px;
  left: 16px;
  margin-bottom: 24px;
}

.dialog-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
