a {
  color: var(--sapLinkColor);
  text-decoration: none;
}

.flex-box {
  display: flex;
  align-items: center;
}

.top-margin {
  margin-top: 1rem;
}

.left-margin {
  margin-left: 0.4rem;
}

.height {
  height: 1.2rem;
}

.auto-left-margin {
  margin-left: auto;
}
