<div *ngIf="!loading()">
  <div>
    <app-error-message
      title="Setup validation could not be completed"
      [message]="errorMessage()"
      (byDismiss)="dismissErrorMessage()"
      *ngIf="errorMessage()"
      data-testid="setup-validation-dialog-error-banner"></app-error-message>
  </div>
  <div>
    <fdp-message-popover-form-wrapper [forms]="formGenerator?.formGroup" [formFields]="formGenerator?.formFields">
      <fdp-form-generator [formItems]="formItems"></fdp-form-generator>
    </fdp-message-popover-form-wrapper>
  </div>

  <div fd-bar barDesign="footer" class="actions-footer">
    <div fd-bar-left></div>
    <div fd-bar-right class="footer-buttons-gap">
      <button
        fd-button
        (click)="submit()"
        [disabled]="formGenerator?.formGroup?.form && !formGenerator?.formGroup?.form?.valid"
        [label]="submitButtonText()"
        fdType="emphasized"
        data-testid="setup-validation-dialog-submit-button"></button>
      <button
        fd-button
        (click)="cancel()"
        label="Cancel"
        fdType="transparent"
        data-testid="setup-validation-dialog-cancel-button"></button>
    </div>
  </div>
</div>
<div *ngIf="loading()" class="loading-indicator">
  <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
</div>
