<fd-message-strip [type]="type" (onDismiss)="emitOnDismiss()" class="message-margin">
  <div class="text-flexbox">
    <span class="error-title">
      {{ title }}
    </span>
    <button
      fd-button
      fdType="transparent"
      class="ticket-button"
      glyph="kpi-corporate-performance"
      (click)="debugModeService.openTraces($event, automaticdNamespace, automaticdResourceName)"
      *ngIf="!troubleshootURL() && debugModeService.debugModeEnabled()">
      Traces
    </button>
    <button fd-button fdType="transparent" class="ticket-button" (click)="reportError()" *ngIf="!troubleshootURL()">
      Create Ticket
    </button>
    <a fd-link class="ticket-button" [href]="troubleshootURL()" target="_blank" *ngIf="troubleshootURL()">
      Troubleshoot
    </a>
  </div>
  <div class="message-font" [innerHTML]="message"></div>
</fd-message-strip>
