<fd-message-strip [type]="type" (onDismiss)="emitByDismiss()" class="message-margin">
  <div class="text-flexbox">
    <span class="error-title">
      {{ title }}
    </span>
    <button
      fd-button
      fdType="transparent"
      class="ticket-button"
      glyph="kpi-corporate-performance"
      (click)="debugModeService.openTraces($event, automaticdNamespace, automaticdResourceName)"
      *ngIf="!troubleshootContext() && debugModeService.debugModeEnabled()">
      Traces
    </button>
    <div *dxpRequiredPolicies="['member', 'owner', 'vault_maintainer']; operator: 'or'">
      <button
        fd-button
        fdType="transparent"
        class="ticket-button"
        (click)="reportError()"
        *ngIf="troubleshootContext()?.showTicketButton || !troubleshootContext()">
        Create Ticket
      </button>
    </div>
    <a
      fd-link
      class="ticket-button"
      [href]="troubleshootContext().docUrl"
      target="_blank"
      rel="noopener noreferrer"
      *ngIf="troubleshootContext()">
      Troubleshoot
    </a>
  </div>
  <div class="message-font" [innerHTML]="message"></div>
</fd-message-strip>
