<div *ngIf="!loading()">
  <fd-message-strip *ngIf="!ppmsScv" class="scv-missing-message" type="warning">
    Missing PPMS info. You can’t release this component to customers.
    <a [href]="OSC_SNOW_LINK" fd-link target="_blank" rel="noopener noreferrer">Add SCV manually</a>
  </fd-message-strip>
  <div class="issuetracker-info-container">
    <div class="issuetracker-info">
      <h3>Issues reported at</h3>
      <a [href]="issuetrackerProjectUrl" fd-link rel="noopener noreferrer" target="_blank" rel="noopener noreferrer">
        {{ issuetrackerProjectName }}
      </a>
    </div>
    <button
      role="button"
      glyph="question-mark"
      label="Learn More"
      fdType="transparent"
      fd-button
      (click)="openDocumentation()"></button>
  </div>
  <div>
    <h3>Track compliance</h3>
    <div *ngIf="ppmsScv">
      <span class="subtitle">PPMS Software Component Version</span>
      <br />
      {{ ppmsScv }}
    </div>
    <div *ngIf="!ppmsScv">
      <button role="button" label="Add SCV" fd-button (click)="openSnow()"></button>
    </div>
  </div>
  <div class="divider"></div>
  <div>
    <h3>Get started with Open-Source Compliance Service</h3>
    <ul class="no-margin">
      <li>Run your build pipeline to trigger the creation of issues in your backlog management tool.</li>
      <li>
        <a [href]="OSC_ADD_SCV_IN_PIPER_LINK" target="_blank" rel="noopener noreferrer">Maintain an SCV</a>
        in your Piper configuration.
      </li>
      <li>
        <a [href]="OSC_SNOW_LINK" target="_blank" rel="noopener noreferrer">Open a SNOW issue</a>
        if you want to stop receiving issues in your backlog management tool.
      </li>
    </ul>
  </div>
</div>
<div *ngIf="loading()">
  <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
</div>
