@import "../base-service-details.component.css";

.subtitle {
  font-size: 14px;
  font-family: var(--sapFontFamily);
  font-weight: bold;
}


.divider {
  border-top: 1px solid var(--sapNeutralBorderColor);
  width: 100%;
  margin: 18px 0;
}

.no-margin {
  margin: 0;
}

.scv-missing-message {
  animation: shake 0.3s ease-in-out;
  margin-top: 1rem;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
