<div *ngIf="!loading()">
  <fd-message-strip *ngIf="!ppmsScv" class="scv-missing-message" type="warning">
    Missing PPMS info. You can’t release this component to customers.
    <a [href]="addScvLink" fd-link target="_blank" rel="noopener noreferrer">Add SCV manually</a>
  </fd-message-strip>
  <div class="issuetracker-info-container">
    <div class="issuetracker-info">
      <h3>Issues reported at</h3>
      <a [href]="issuetrackerProjectUrl" fd-link rel="noopener noreferrer" target="_blank" rel="noopener noreferrer">
        {{ issuetrackerProjectName }}
      </a>
    </div>
    <button
      role="button"
      glyph="question-mark"
      label="Learn More"
      fdType="transparent"
      fd-button
      (click)="openDocumentation()"></button>
  </div>
  <div>
    <h3>Track compliance</h3>
    <div *ngIf="ppmsScv">
      <span class="subtitle">PPMS Software Component Version</span>
      <br />
      {{ ppmsScv }}
    </div>
    <div *ngIf="!ppmsScv">
      <button role="button" label="Add SCV" fd-button (click)="openDocumentation()"></button>
    </div>
  </div>
  <div class="divider"></div>
  <div>
    <h3>What's next</h3>
    <a [href]="OSC_STACKOVERFLOW_LINK" target="_blank" rel="noopener noreferrer">Ask at Stack&#64;SAP</a>
    <span>&#160;if you do not receive any issues in the backlog management tool you provided.</span>
  </div>
</div>
<div *ngIf="loading()">
  <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
</div>
