.issuetracker-info-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.issuetracker-info {
  display: flex;
  flex-direction: column;
}

.subtitle {
  color: var(--sapContent_LabelColor);
  font-size: 14px;
  font-family: '72';
}

.auto-left-margin {
  margin-left: auto;
}

.icon {
  color: var(--sapNeutralColor);
  cursor: pointer;
}

.left-margin {
  margin-left: 0.4rem;
}

a {
  color: var(--sapLinkColor);
  text-decoration: none;
}

h3 {
  margin-bottom: 4px;
}

.divider {
  border-top: 1px solid var(--sapNeutralBorderColor);
  width: 100%;
  margin: 18px 0;
}

.no-margin {
  margin: 0;
}
